### List

In [1]:
l = [1,2,3,4,5, "sudh", 45.67, True]

In [2]:
l[0]

1

In [3]:
l[-1]

True

In [4]:
len(l)

8

In [5]:
l[0:5]

[1, 2, 3, 4, 5]

In [6]:
l[::-1]

[True, 45.67, 'sudh', 5, 4, 3, 2, 1]

In [7]:
l[0:100:2]

[1, 3, 5, 45.67]

In [8]:
# in is an operator to search in a list

60 in l

False

In [10]:
# As there are heterogenous data types

max(l)

TypeError: '>' not supported between instances of 'str' and 'int'

In [11]:
l.append("Kumar")

l

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 'Kumar']

In [12]:
l.append([1,2,3,4])

l

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 'Kumar', [1, 2, 3, 4]]

In [13]:
l.pop(0)

1

In [14]:
l

[2, 3, 4, 5, 'sudh', 45.67, True, 'Kumar', [1, 2, 3, 4]]

In [15]:
l.reverse()

l

[[1, 2, 3, 4], 'Kumar', True, 45.67, 'sudh', 5, 4, 3, 2]

In [16]:
l1 = [3,4,5,6,6]

In [18]:
l3 = [8,98,34,23,1,0]

In [19]:
l3.sort()

l3

[0, 1, 8, 23, 34, 98]

In [20]:
l3.sort(reverse=True)

In [21]:
l3

[98, 34, 23, 8, 1, 0]

In [22]:
l1 = [2,3,4]
l2 = [6,7,8]
l3 = [3,2,4]

In [23]:
l4 = [l1,l2,l3]

l4

[[2, 3, 4], [6, 7, 8], [3, 2, 4]]

In [24]:
l4[2]

[3, 2, 4]

In [25]:
l4[2][1]

2

In [26]:
l.reverse()
l

[2, 3, 4, 5, 'sudh', 45.67, True, 'Kumar', [1, 2, 3, 4]]

In [27]:
l.count(2)

1

In [28]:
l1 = [3,4,5,6,6]

l1.count(6)

2

In [29]:
## extend() only works with iterable objects


l.extend("Arun")

l

[2, 3, 4, 5, 'sudh', 45.67, True, 'Kumar', [1, 2, 3, 4], 'A', 'r', 'u', 'n']

In [30]:
l.extend([1,2,3,4])

l

[2,
 3,
 4,
 5,
 'sudh',
 45.67,
 True,
 'Kumar',
 [1, 2, 3, 4],
 'A',
 'r',
 'u',
 'n',
 1,
 2,
 3,
 4]

In [31]:
l = [1, 2, 3, 4, 5, 'sudh', 45.67, True, 'Kumar']

l.extend([1,2,3,4])

l

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 'Kumar', 1, 2, 3, 4]

In [32]:
l.index(1)

0

In [33]:
l = [1,2,3,4,5]

In [34]:
l.insert(1, "Arun")

l

[1, 'Arun', 2, 3, 4, 5]

In [35]:
l.remove(4)

l

[1, 'Arun', 2, 3, 5]

In [36]:
l = [1,2,3,4]

In [37]:
l[2]

3

In [38]:
## item reasignment

l[2] = "sudh"

l

[1, 2, 'sudh', 4]

### Tuples

In [40]:
t = (4,5,6,7, "sudh", 45.67, True)

In [41]:
type(t)

tuple

In [42]:
t[0]

4

In [43]:
t[0:4]

(4, 5, 6, 7)

In [44]:
t

(4, 5, 6, 7, 'sudh', 45.67, True)

In [45]:
t[0:6:2]

(4, 6, 'sudh')

In [46]:
t[2]

6

In [47]:
t[2] = "Arun"

TypeError: 'tuple' object does not support item assignment

In [48]:
t1 = (3,4,5,6)

In [49]:
t + t1

(4, 5, 6, 7, 'sudh', 45.67, True, 3, 4, 5, 6)

In [50]:
t.count(6)

1

In [51]:
t.index(5)

1

In [52]:
t = (3,4,56,7, "sudh")

In [53]:
list(t)

[3, 4, 56, 7, 'sudh']

In [54]:
t2 = list(t)

In [55]:
t2

[3, 4, 56, 7, 'sudh']

In [56]:
tuple(t2)

(3, 4, 56, 7, 'sudh')

### Dictionary

In [57]:
d = {'key1' : "value", 234 : "xyz", "name" : "sudh", "no" : 23456}

In [58]:
type(d)

dict

In [59]:
d["name"]

'sudh'

In [60]:
d['no']

23456

In [61]:
d

{'key1': 'value', 234: 'xyz', 'name': 'sudh', 'no': 23456}

In [62]:
d1 = {'name': 'Sudh', 'tech' : ["python", "ML", "Dl", "NLP", "CV", "Big data", "data analytics"]}

In [63]:
d1

{'name': 'Sudh',
 'tech': ['python', 'ML', 'Dl', 'NLP', 'CV', 'Big data', 'data analytics']}

In [64]:
"python" in d1['tech']

True

In [65]:
## Adding new key: value to the dictionary

d1['k1'] = 'xyz'

In [66]:
d1

{'name': 'Sudh',
 'tech': ['python', 'ML', 'Dl', 'NLP', 'CV', 'Big data', 'data analytics'],
 'k1': 'xyz'}

In [67]:
d1['k2'] = d

In [68]:
d1

{'name': 'Sudh',
 'tech': ['python', 'ML', 'Dl', 'NLP', 'CV', 'Big data', 'data analytics'],
 'k1': 'xyz',
 'k2': {'key1': 'value', 234: 'xyz', 'name': 'sudh', 'no': 23456}}

In [69]:
d1['k2']['no']

23456

In [70]:
## only '_' is allowed as a key and no other symbols.
## we can also use a tuple as a key but list and dictionary is not allowed as a key.
## concatination is not allowed for dictionary

In [71]:
d1.keys()

dict_keys(['name', 'tech', 'k1', 'k2'])

In [72]:
d1.values()

dict_values(['Sudh', ['python', 'ML', 'Dl', 'NLP', 'CV', 'Big data', 'data analytics'], 'xyz', {'key1': 'value', 234: 'xyz', 'name': 'sudh', 'no': 23456}])

In [73]:
d1.items()

dict_items([('name', 'Sudh'), ('tech', ['python', 'ML', 'Dl', 'NLP', 'CV', 'Big data', 'data analytics']), ('k1', 'xyz'), ('k2', {'key1': 'value', 234: 'xyz', 'name': 'sudh', 'no': 23456})])

In [74]:
type(d1.items())

dict_items

### Set

In [75]:
s = {1,2,3,4,5,6}

In [76]:
type(s)

set

In [77]:
s1 = {3,4,5,6,6,7,7,8,8,9,9,0,0,0}

In [78]:
s1

{0, 3, 4, 5, 6, 7, 8, 9}

In [79]:
s2 = {3245,4545,6465,56445,675,6234,345}

In [80]:
s2

{345, 675, 3245, 4545, 6234, 6465, 56445}

In [81]:
## Remember set doesnot return data in sorted order

s3 = {"sudh", 324, 34, 12, 645, 12, 5, 'b', '6'}

In [82]:
s3

{12, 324, 34, 5, '6', 645, 'b', 'sudh'}

In [83]:
s2.add(34)

s2

{34, 345, 675, 3245, 4545, 6234, 6465, 56445}

In [84]:
## tuples can be inside a set but not lists

s.remove(3)

In [85]:
s

{1, 2, 4, 5, 6}

In [86]:
s.discard(4)

In [87]:
s

{1, 2, 5, 6}

In [88]:
## in case of remove if the element is not available then it will throw error but not in case of discard

In [1]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
# 1 . Try to reverse a list 
# 2 . Try to access 234 out of this list 
# 3 . Try to access 456 
# 4 . Try to extract only a list collection form list l 
# 5 . Try to extract "sudh"
# 6 . Try to list all the key in dict element avaible in list 
# 7 . Try to extract all the value element form dict available in list

In [97]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [98]:
l[::-1]

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [100]:
l[7][0]

234

In [2]:
list(l[8].keys())[1]

234

In [103]:
l[5][1]

456

In [104]:
l[5]

[23, 456, 67, 8, 78, 78]

In [3]:
l[6]

[345, 56, 87, 8, 98, 9]

In [105]:
l[8]['key1']

'sudh'

In [107]:
list(l[8].keys())

['key1', 234]

In [108]:
list(l[8].values())

['sudh', [23, 45, 656]]

### If-else, elif

In [2]:
a = 10 
if a == 10 :
    print("this is my first condition")

this is my first condition

In [3]:
a = 10 
if a < 8:
    print("print this if condition is true ")

In [4]:
price = 500

if price > 500 : 
    print(" may be i wont be able to buy a jacket ")
elif price < 500 :
    print("i will be able to buy a jacket")
elif  price == 500 :
    print("for sure i will be able to buy")

else  :
    print("i dont know")

for sure i will be able to buy

In [6]:
## pass is a keyword to stop the code from executing

a = 10
if a >5 :
    pass

In [7]:
l = [1,2,3,4,5,6]
2 in l

True

In [8]:
if 60 in l :
    print("try to perform a task ")
else :
    print("do not perform this task")

do not perform this task

In [9]:
## if is always starting of a conditional block

if 10 in l :
    print("thy to do a addition")
elif 2 in l :
    print("try to do sub")
elif 3 in l :
    print("try to do mul")
if 4 in l :
    print("this is new statement")

try to do sub
this is new statement

In [16]:
## Nested if condition

price  = int(input())
if price  <500 :
    print("i will be able to buy something")
    if price < 400 :
        print("i will be able to buy a jacket")
    elif price < 300 :        
        print("i will be able to buy a shirt")
    elif price < 200 :
        print("i would like to do sometign")
    else :
        print("i wont be able to buy anyting")
else :
    print("i wont be able to buy anything with this price tag")
if price >500:
    print("lets try someting else ")

100
i will be able to buy something
i will be able to buy a jacket

In [13]:
marks = int(input())
if marks < 600:
    print("NO GRE")
    if marks < 500:
        print("TOFEL")
        if marks < 400:
            print("Try something else")
    else:
        print("YOU GOT TOFEL")
else:
    print("You got GRE congratulations")

300
NO GRE
TOFEL
Try something else

In [15]:
val  = float(input("enter a floating point number"))
if val >= 0 :
    if val == 0 :
        print("entered value is zero")
    else :
        print("enter value is a positive number ")
else :
    print("entered number is a negative number")

enter a floating point number-5.9
entered number is a negative number

In [17]:
d = {'key1' :"value" , "key2" : "sudh" , "key3" : "iNeuron"}

In [19]:
if d['key1'] == "value" and d['key2'] == "sudh" and d['key3'] == "iNeuron":
    print("all the values are verified ")
    print(d.values())
else :
    print("all the values are not verified ")

all the values are verified
dict_values(['value', 'sudh', 'iNeuron'])

In [20]:
l = [1,2,3,4,5,"sudh" ,234.45]

In [21]:
for i in l :
    if type(i) == int or type(i) == float:
        print(i+1)
    elif type(i) == str:
        print(i + str(1))

2
3
4
5
6
sudh1
235.45

In [22]:
a=[9, 8,7,6,5,4,3,2,10]
for i in a :
       print(i ,end=' ')

9 8 7 6 5 4 3 2 10

In [23]:
l1 = []
for i in l :
    if type(i) == int:
        l1.append(i)

In [24]:
l1

[1, 2, 3, 4, 5]