### Revision and Doubt clearing

##### Week 3

In [3]:
# It is a better way as no nested for loop is used


row = int(input("Enter number of rows: "))

for i in range(row):
    print("ineuron " *(i+1))
print()

Enter number of rows: 4
ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [10]:
for i in range(6):
    if i <= 3:
        n = i
    else:
        n = 6 - i
    print(("ineuron     " * n).center(50, " "))

                   ineuron
             ineuron     ineuron
       ineuron     ineuron     ineuron
             ineuron     ineuron
                   ineuron

In [7]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , 
     {'k1' : "sudh", 'k2' : "ineuron", 'k3' : "kumar", 3:6, 7:8} , ['ineuron', 'data science']]

In [11]:
# Q11: Try to find out number of keys in dict element


for i in l:
    if type(i) == dict:
        print("Number of keys: ",len(i))

Number of keys:  5

In [24]:
for i in l:
    m = 1
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                m = m * j
        print(type(i), ":" ,m)
        
    if type(i) == dict:
        for k in i.items():
            for n in k:
                if type(n) == int:
                    m = m * n
        print(type(i), ":" ,m)

<class 'list'> : 24
<class 'tuple'> : 720
<class 'tuple'> : 2520
<class 'set'> : 20700
<class 'dict'> : 1008
<class 'list'> : 1

#### Challenge 1

In [27]:
# Q1: Try to print this using a while loop:

# *
# * *
# * * *
# * * * *
# * * * * *
# * * * * * * 
# * * * * * * *
# * * * * * * * * 
# * * * * * * * * *

m = int(input("Enter the number of rows: " ))

n = 1

while n <= m:
    print("* " * n, end=" ")
    print()
    n += 1

Enter the number of rows: 9
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [28]:
# Q2: Try to print using a while loop:

# A
# B H
# C I N
# D J O S
# E K P T W
# F L Q U X Z
# G M R V Y



x = 0

while x < 8:
    content = ""
    y = 0
    while y < x:
        z = 0
        sum = 0
        while z < y:
            sum += 6 - z
            z += 1
        if (x + 64 + sum) <= (64 + 26):
            content += " " + chr(x + 64 + sum)
        y += 1
    print(content)
    x += 1

 A
 B H
 C I N
 D J O S
 E K P T W
 F L Q U X Z
 G M R V Y

In [29]:
i = 0

while i < 7:
    c = 65 + i
    j = 0
    
    while j < (i + 1):
        if c == 91:
            break
        print(chr(c), end=" ")
        c = c + 6 - j
        j += 1
    i += 1
    print()

A
B H
C I N
D J O S
E K P T W
F L Q U X Z
G M R V Y

### Functions

In [3]:
def test(a, b):
#     This is for the docstring message of the function
    '''This is my function for concatenation or addition'''
    return a+b

In [4]:
test(5,6)

11

In [5]:
def test1(a,b,c,d,e):
    return a,b,c,d,e

In [6]:
# it will throw error as the test1() will take 5 arguments

test1(3,4,5,6,7,7)

TypeError: test1() takes 5 positional arguments but 6 were given

In [7]:
# The solution is '*args' so now we can provide any number of arguments in the function.
# 'args' is not a keyword.
# the '*' will return a tuple type.

def test2(*a):
    return a

In [8]:
test2(2,3,4,5,6,7,78,8,8)

(2, 3, 4, 5, 6, 7, 78, 8, 8)

In [9]:
# Create a function that will return a list of all the elements that are passed

def test3(*a):
    l = []
    for i in a:
        l.append(i)
    return l

In [10]:
test3(2,3,4,5,[345,56,5,6])

[2, 3, 4, 5, [345, 56, 5, 6]]

In [12]:
# Now when we have '*' in the element

def test4(a,b,c,d, *m):
    return a,b,c,d,m

In [13]:
test4(3,4,5,6,6,7,7,8,8)

(3, 4, 5, 6, (6, 7, 7, 8, 8))

In [14]:
def test5(*m, a,b,c,d,e):
    return m,a,b,c,d,e

In [15]:
test5(4,5,6,7,6,4,56,7,8,6,44.778,89)

TypeError: test5() missing 5 required keyword-only arguments: 'a', 'b', 'c', 'd', and 'e'

In [18]:
#  to solve it use named assignments

test5(4,5,6,6,4,56,a = 7,b = 8,c = 6,d = 7,e = 44.778)

((4, 5, 6, 6, 4, 56), 7, 8, 6, 7, 44.778)

In [19]:
# Now to pass the dataset as dictionary we use '**kwargs'.
# 'kwargs' is not a keyword.
# It returns dict data type.
# It will not take a dictionary as a variable.
# Always pass key:value pair.

def test6(**arun):
    return arun

In [20]:
# always pass a key:value pair to get a result

test6(b =4,c=6,d=7,f=8)

{'b': 4, 'c': 6, 'd': 7, 'f': 8}

In [22]:
# Now using both

def test7(*m, **s):
    return m, s

In [23]:
test7(34,4,6,5,6,56,b =4,c=6,d=7,f=8)

((34, 4, 6, 5, 6, 56), {'b': 4, 'c': 6, 'd': 7, 'f': 8})

In [24]:
# Create a function that will take multiple inputs and return the sum of the inputs

def test8(*a):
    n = 0
    for i in a:
        if type(i) == int:
            n += i
    return n

In [25]:
test8(1,2,3,4,5,6,7,8,9,10)

55

In [27]:
# Create an anonymous function or lambda function or inline function

n = lambda a,b: a + b

In [28]:
n(4,5)

9

In [29]:
# create a lambda function of the *

m = lambda *a : a

In [30]:
m(3,4,5,6,7,8)

(3, 4, 5, 6, 7, 8)

In [1]:
# Lambda function with if but without else.
square = lambda x : x*x if(x > 0)
 
print(square(6))

SyntaxError: invalid syntax (767095859.py, line 2)

**The above code on execution shows SyntaxError, as we know that a lambda function must return a value and this function returns x*x if x > 0 and it does not specify what will be returned if the value of x is less than or equal to 0.**

**To correct it, we need to specify what will be returned if the if-condition will be false i.e. we must have to specify its else part.**

Let’s see the above code with its else part.

In [2]:

# Lambda function with if-else
square = lambda x : x*x if(x > 0) else None
 
print(square(4))

16

### Comprehension operations:

In [31]:
t = (3,4,4,5,5,6,67,7,7)

In [32]:
# List comprehension

l = [i for i in t]
l

[3, 4, 4, 5, 5, 6, 67, 7, 7]

In [34]:
# square of each number till 10

l = [i*i for i in range(1,11)]
l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [36]:
l = lambda *x : [i**2 for i in x]

In [37]:
# getting square of each input in the list

l(4,45,5,6,6,7,8,9)

[16, 2025, 25, 36, 36, 49, 64, 81]

In [40]:
# pass multiple key value pair to find number of strings passed

def test(**kwargs):
    count = 0
    for v in kwargs.values():
        if type(v) == str or type(v) == list:
            count += 1
    return count

In [41]:
test(a = 7, b = "arun", c =345, d = "biswas", l =[2,3,4,5, "arun"])

3

In [42]:
# return a list of all the data we passed

def test(**kwargs):
    return list(kwargs.values())

In [43]:
test(a = 7, b = "arun", c =345, d = "biswas", l =[2,3,4,5, "arun"])

[7, 'arun', 345, 'biswas', [2, 3, 4, 5, 'arun']]

Today's task:

Q1. Try to print a prime number between 1 to 1000.
Q2. Try to write a function which is equivalent to print function in python.
Q3. Try to write a function which is a replica of list append, extend and pop function.
Q4. Try to write a lambda function which can return a concatenation of all the string that are passed to it.
Q5. Try to write a lambda function which can return list of square of all the data between 1 to 100.
Q6. Try to write a 10 different different examples of lambda function with a choice of your task.
Q7. Try to write a function which can perform a read operation from .txt file.

Before 11-06-2022:

shivan@ineuron.ai
sudhanshu@ineuron.ai

When using `sys.stdout.write()` in place of `print()` always use return so the number of characters will not shown as it is default in `sys.stdout.write()`.

In [3]:
import sys

sys.stdout.write("Hello world")

Hello world

11