### Loops : For

In [1]:
l = [1,2,3,4,"sudh", "kumar", 45.56]

In [2]:
for i in l:
    print(i)

1
2
3
4
sudh
kumar
45.56

In [3]:
# else with for loop (exclusive for Python only)

for i in l:
    print(i)
else:
    print("If for loop is complete then this else will be executed.")

1
2
3
4
sudh
kumar
45.56
If for loop is complete then this else will be executed.

In [4]:
# here because of the 'break' the for loop gets abrupt midway so the else will not be executed.

for i in l:
    if i == 4:
        break
    print(i)
else:
    print("This will be executed only when the for loop is exhausted normally.")

1
2
3

### Remember the break keyword cannot be use in if else case, there we need to use either "return" or "sys.exit()" to get out from the condition. Although the break can be used in an if else block when it is inside a loop.

**Because break cannot be used to break out of an if - it can only break out of loops. That's the way Python (and most other languages) are specified to behave. To get out from the condition we should use `sys.exit()` or `return`.**

In [5]:
n = 4

for i in range(4):
    for j in range (0, i+1):
        print("arun", end=" ")
    print("\n")

arun

arun arun

arun arun arun

arun arun arun arun

In [9]:
n = 3
for i in range(n):
    for j in range(i, n-1):
        print(" " * len("sudh"), end=" ")
    for j in range(i+1):
        print("sudh", end=" ")
    for j in range(i):
        print("sudh", end=" ")
    print()

          sudh
     sudh sudh sudh
sudh sudh sudh sudh sudh

In [11]:
t = (3,23,45,67,2,4,5,6)

In [14]:
for i in range(len(t)):
    print(i, t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [15]:
s = "ineuron"

In [16]:
for i in range(len(s)):
    print(i, s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [20]:
# len(s)-1 is for the upper bound so we can get the index upto 6
# the -1 is for the upper bound so we get the index 0 and the step is -1 so it is reversewards

for i in range (len(s)-1, -1, -1):
    print(i, s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [21]:
d = {'key1' : 'sudh', 'contact' : 'sudhanshu@ineuron.ai', 'position' : 'xyz'}

In [22]:
# printing the type of the key and values along with them as tuple

for i in d.items():
    print(i, type(i), type(i[1]))

('key1', 'sudh') <class 'tuple'> <class 'str'>
('contact', 'sudhanshu@ineuron.ai') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [23]:
l =['sudh', 'kumar', 3234545, 'sudhanshu@ineuron.ai', 345, 34345353]

In [24]:
l1 =[]
for i in l:
    if type(i) == int:
        l1.append(i)
        
print(l1)

[3234545, 345, 34345353]

In [25]:
d = {1: 3345345, 'name': 'sudh', 'email' : 'sudhanshu@ineuron.ai', 234 : 'fsfddsf', "43" : "fsdfg", 234 : "3454"}

In [28]:
# find key value pairs where key is a int

for i in d:
    if type(i) == int:
        print(i, ":", d[i])

1 : 3345345
234 : 3454

In [29]:
s ="aaaabbccd"

In [31]:
# find occurance of each character
# but here every item will be repeated 

for i in s:
    print(i, ":", s.count(i))

a : 4
a : 4
a : 4
a : 4
b : 2
b : 2
c : 2
c : 2
d : 1

In [32]:
# first convert the tring into a set to get the unique elements then perform the count() in a for loop.

for i in set(s):
    print(i, ":", s.count(i))

b : 2
c : 2
d : 1
a : 4

In [33]:
i = 3453465464645

In [34]:
# individual int are not iterable

for j in i:
    print(j)

TypeError: 'int' object is not iterable

In [38]:
# so to extract each element one by one we need to typecast and then again typecast it back to int for getting int as result

for j in str(i):
    print(int(j))

3
4
5
3
4
6
5
4
6
4
6
4
5

In [49]:
t = ("sudh", "kumar", [1,2,3,4,5], (3,4,5,6), {3:3, 'key2': "kumar"})

In [50]:
# find all the 3
# dict.items() will return a tuple of key, value pair

for i in t:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if j == 3:
                print(j)
    if type(i) == dict:
        for k,v in i.items():
            if k == 3 or v == 3:
                print(k)
                print(v)

3
3
3
3

In [51]:
d = {4:5, 'key1' : 'sudh', 'key2': "kumar"}

for i in d.items():
    print(i)

(4, 5)
('key1', 'sudh')
('key2', 'kumar')

Q1 : 
ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

Q2:
          ineuron
    ineuron     ineuron
ineuron    ineuron    ineuron
    ineuron     ineuron
          ineuron
  
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , 
     {'k1' : "sudh", 'k2' : "ineuron", 'k3' : "kumar", 3:6, 7:8} , ['ineuron', 'data science']]

Q3: Try to extract all the list entity
Q4: Try to extract all the dictionary entity
Q5: Try to extract all the tuples entity
Q6: Try to extract all the numeric data which may be part of dict key and values
Q7: Try to give summation of all the numeric data.
Q8: Try to filter out all the odd values out of all numeric data which is a part of a list
Q9: Try to extract "ineuron" out of the data
Q10: Try to find out a number of occurences of all the data
Q11: Try to find out number of keys in dict element
Q12: Try to filter out all the string data
Q13: Try to find out alphanum in data
Q14: Try to find out multiplication of all numeric values in the individual collection inside dataset
Q15: Try to unwrap all the collection inside collection and create a flat list

### Loops :  While

In [1]:
a = 1
b = 10

while a <= b :
    print(a)
    a += 1

1
2
3
4
5
6
7
8
9
10

In [2]:
a = 1
b = 10

while a <= b :
    print(a)
    a += 2
else:
    print("Print this else clause.")

1
3
5
7
9
Print this else clause.

In [3]:
a = 1
b = 10

while a < b :
    a += 1
    if a == 3:
        continue
    print(a)

2
4
5
6
7
8
9
10

In [4]:
l = [1,2,3,4,65,56]

In [7]:
# print all the elements of the list using while loop

n = 0

while n < len(l):
    print(l[n])
    n += 1

1
2
3
4
65
56

In [8]:
t = (3,4,5,6,7,8,9)

In [9]:
# print the index of 6 and 7 using while loop

n = 0

while n < len(t):
    if t[n] == 6 or t[n] == 7:
        print(n)
    n += 1

3
4

In [23]:
# print the index in negative of 7 and 6 using while loop

t = (6,3,4,5,6,7,8,9,6)

n = -1

while n >= -len(t):
    if t[n] == 6 or t[n] == 7:
        print("Index of", t[n], "is: ", n)
    n = n - 1

Index of 6 is:  -1
Index of 7 is:  -4
Index of 6 is:  -5
Index of 6 is:  -9

In [24]:
d = {'k1' : "sudh", "k2" : [1,2,3,4], "k3" : (2,3,4,5)}

In [28]:
# extract all the values using a while loop

a = 0
b = list(d.keys())       # making list of all the keys

while a < len(d):
    print(d[b[a]])       # here d[b[a]] acts as the d['key'] to print the value
    a += 1

sudh
[1, 2, 3, 4]
(2, 3, 4, 5)

### Functions:

In [32]:
def test():
    print("This is my first function.")

In [33]:
test()

This is my first function.

In [34]:
type(test())

This is my first function.

NoneType

In [35]:
# Always use return instead of print in a function.

def test1():
    return "This is my first function."

In [38]:
test1()

'This is my first function.'

In [39]:
type(test1())

str

In [41]:
test1() + " Arun"

'This is my first function. Arun'

In [42]:
def add_mul():
    a = 4 * 5
    b = 6 + 4
    return a,b

In [43]:
g, h = add_mul()

In [44]:
g

20

In [45]:
h

10

In [46]:
# We can use a placeholder '_' to get just one value i.e. if we don't want the addition part but just the multiplication

_ , m = add_mul()

In [47]:
m

10

In [48]:
# Let's create a function to perform the while loop

    
def while_fun(a,b):
    while a <= b :
        print(a)
        a += 2
    else:
        print("Print this else clause.")

In [49]:
# Now calling the function

while_fun(1,10)

1
3
5
7
9
Print this else clause.

In [52]:
m = int(input("Enter 1st value: "))
n = int(input("Enter 2nd value: "))

while_fun(m, n)

Enter 1st value: 4
Enter 2nd value: 9
4
6
8
Print this else clause.

In [53]:
# problem with return is that it only return atleast one value so:


def while_fun(a,b):
    l = []
    while a <= b :
        l.append(a)
        a += 2
    else:
        print("Print this else clause.")
        
    return l

In [54]:
m = int(input("Enter 1st value: "))
n = int(input("Enter 2nd value: "))

while_fun(m, n)

Enter 1st value: 1
Enter 2nd value: 10
Print this else clause.

[1, 3, 5, 7, 9]

In [56]:
# write a function that will extract all the integer and create a new list

l = [4,5,6,67,7,8,9,9,9, [3,4,5,6,7,7], "sudh"]

In [59]:
def int_fun(l):
    l1 = []
    for i in l:
        if type(i) == int:
            l1.append(i)
    return l1

In [60]:
int_fun(l)

[4, 5, 6, 67, 7, 8, 9, 9, 9]

In [63]:
l3 = [345,45,5,5,6,7, "sudh", "arun", (4,6,7)]

In [64]:
int_fun(l3)

[345, 45, 5, 5, 6, 7]

### 1st challenge:

Challenge:

Q1: Try to print this using a while loop:

*
* *
* * *
* * * *
* * * * *
* * * * * * 
* * * * * * *
* * * * * * * * 
* * * * * * * * *

Q2: Try to print using a while loop:

A
B H
C I N
D J O S
E K P T W
F L Q U X Z
G M R V Y

Q3: Try to print all the numbers divisible by 3 in between a range of 40 - 400.

Q4: Try to filter out all the vowels from below text by using a while loop:
"""
Python is a high-level, interpreted, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.[32]

Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming. It is often described as a "batteries included" language due to its comprehensive standard library.[33][34]

Guido van Rossum began working on Python in the late 1980s as a successor to the ABC programming language and first released it in 1991 as Python 0.9.0.[35] Python 2.0 was released in 2000 and introduced new features such as list comprehensions, cycle-detecting garbage collection, reference counting, and Unicode support. Python 3.0, released in 2008, was a major revision that is not completely backward-compatible with earlier versions. Python 2 was discontinued with version 2.7.18 in 2020.[36]

Python consistently ranks as one of the most popular programming languages.
"""

Q5: Try to generate all the even numbers between 1 - 1000.

Q6: Define a function for all the above problem statement.

Q7: Write a code to get a time of your system.

Q8: Write a code to fetch date from your system.

Q9: Write a code to end a mail to your friend.

Q10: Write a code to trigger an alarm for a scheduled time.

Q11: Write a code to check ip address of your system.

Q12: Write a code to check a particular installation in your ystem.

Q13: Write a code to convert any text into voice.

Q14: Write a function which will take tring and return the length of it without uing the len().

Q15: Write a function which will be able to print an index of all premitive element which will be passed to it.

Q16: Write a function which will take input as a dictionary and return a list of all the values even in case of 2 level nesting it should work.

Q17: Write a function which will take multiple list as inputs and give me concatanation of all the elements as an output.

Q18: Write a function which would return list of all the file name from a directory.

Q19: Write a function which will be able to read an image file and show it to you.

Q20: Write a function by which you will be able to append two PDF files.

Q21: Write a function which can help you to filter only word file from a directory.

Q22: Write a function which can read video file and play for you. 

Q23: Write a function which will be able to shutdonw your system.

Q24: Write a function which will whould return list of all the file name from a directory.

Q25: Write a function whihc will be able to access your mail.