### Python basics

In [1]:
a = 10

In [2]:
a

10

In [3]:
a - 2

8

In [4]:
type(a)

int

In [5]:
n = 13 + 5j

type(n)

complex

In [8]:
n.real

13.0

In [9]:
n.imag

5.0

In [10]:
n.conjugate

In [11]:
## List: heterogeneous/homogeneous data can be put in a list.

l = [3,4,5,6,"Arunava", True, 5+3j, 345.456]

type(l)

list

In [12]:
# index of the list

l[1]

4

In [13]:
b = "This is my first class of python and today's date is 14th may 2022"

type(b)

str

In [14]:
## tuple

t = (3,4,5,6,"Arunava", True, 5+3j, 345.456)

type(t)

tuple

In [15]:
## dictionary

d = {'a': "Arunava", "b": "Biswas", "c": 234345}

type(d)

dict

### Variables:

In [1]:
## String variable

s = "ineuron"

In [2]:
type(s)

str

In [3]:
s[0]

'i'

In [4]:
s[-2]

'o'

In [5]:
## slice: to get a subset of the string.
## Here the upper bound is excluded.

s2 = "This is my very first programing's class."

# Get the data upto 7th index

s2[0:8]

'This is '

In [6]:
s2[6:30]

's my very first programi'

In [7]:
## try to get an extraction from 6th to 30th index but in every 2nd index in order.
## Syntax is: [start_point: end_point: jump]

s2[6:30:2]

'sm eyfrtporm'

In [8]:
## here we start from 0th location and go upto 8th location i.e. in +ve direction, but the jump is in a -ve direction, so it will return a blank.
## So remember the jump direction and the movement direction should be same.

s = 'sudhanshu'

s[0:8:-1]

''

In [9]:
s[::-1]

'uhsnahdus'

In [11]:
s = "ineuron"

s[::-1]

'norueni'

In [13]:
s4 = "ineuron"

s4[-7:0:1]

''

In [14]:
len(s4)

7

In [15]:
s * 2

'ineuronineuron'

In [17]:
## Return the number of non-overlapping occurrences of substring.
## here 'n' occurs twice.

s.count('n')

2

In [18]:
## Here the 'u' is the seperator.

s = "sudhanshu"

s.split('u')

['s', 'dhansh', '']

In [19]:
### Use """ for multi line string """
## It is also use for commenting purpose

sw = """The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]

Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group.

Notable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's 2nd largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues).[11][12] """

In [20]:
sw

"The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]\n\nSamsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group.\n\nNotable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's 2nd largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues).[11][12] "

In [21]:
sw.split(' ')

['The',
 'Samsung',
 'Group[3]',
 '(or',
 'simply',
 'Samsung,',
 'stylized',
 'as',
 'SΛMSUNG)',
 '(Korean:',
 '삼성',
 '[samsʌŋ])',
 'is',
 'a',
 'South',
 'Korean',
 'multinational',
 'manufacturing',
 'conglomerate',
 'headquartered',
 'in',
 'Samsung',
 'Town,',
 'Seoul,',
 'South',
 'Korea.[1]',
 'It',
 'comprises',
 'numerous',
 'affiliated',
 'businesses,[1]',
 'most',
 'of',
 'them',
 'united',
 'under',
 'the',
 'Samsung',
 'brand,',
 'and',
 'is',
 'the',
 'largest',
 'South',
 'Korean',
 'chaebol',
 '(business',
 'conglomerate).',
 'As',
 'of',
 '2020,',
 'Samsung',
 'has',
 'the',
 '8th',
 'highest',
 'global',
 'brand',
 'value.[4]\n\nSamsung',
 'was',
 'founded',
 'by',
 'Lee',
 'Byung-chul',
 'in',
 '1938',
 'as',
 'a',
 'trading',
 'company.',
 'Over',
 'the',
 'next',
 'three',
 'decades,',
 'the',
 'group',
 'diversified',
 'into',
 'areas',
 'including',
 'food',
 'processing,',
 'textiles,',
 'insurance,',
 'securities,',
 'and',
 'retail.',
 'Samsung',
 'entered',
 'the',
 'electronics',
 'industry',
 'in',
 'the',
 'late',
 '1960s',
 'and',
 'the',
 'construction',
 'and',
 'shipbuilding',
 'industries',
 'in',
 'the',
 'mid-1970s;',
 'these',
 'areas',
 'would',
 'drive',
 'its',
 'subsequent',
 'growth.',
 'Following',
 "Lee's",
 'death',
 'in',
 '1987,',
 'Samsung',
 'was',
 'separated',
 'into',
 'five',
 'business',
 'groups',
 '–',
 'Samsung',
 'Group,',
 'Shinsegae',
 'Group,',
 'CJ',
 'Group',
 'and',
 'Hansol',
 'Group,',
 'and',
 'Joongang',
 'Group.\n\nNotable',
 'Samsung',
 'industrial',
 'affiliates',
 'include',
 'Samsung',
 'Electronics',
 '(the',
 "world's",
 'largest',
 'information',
 'technology',
 'company,',
 'consumer',
 'electronics',
 'maker',
 'and',
 'chipmaker',
 'measured',
 'by',
 '2017',
 'revenues),[5][6]',
 'Samsung',
 'Heavy',
 'Industries',
 '(the',
 "world's",
 '2nd',
 'largest',
 'shipbuilder',
 'measured',
 'by',
 '2010',
 'revenues),[7]',
 'and',
 'Samsung',
 'Engineering',
 'and',
 'Samsung',
 'C&T',
 'Corporation',
 '(respectively',
 'the',
 "world's",
 '13th',
 'and',
 '36th',
 'largest',
 'construction',
 'companies).[8]',
 'Other',
 'notable',
 'subsidiaries',
 'include',
 'Samsung',
 'Life',
 'Insurance',
 '(the',
 "world's",
 '14th',
 'largest',
 'life',
 'insurance',
 'company),[9]',
 'Samsung',
 'Everland',
 '(operator',
 'of',
 'Everland',
 'Resort,',
 'the',
 'oldest',
 'theme',
 'park',
 'in',
 'South',
 'Korea)[10]',
 'and',
 'Cheil',
 'Worldwide',
 '(the',
 "world's",
 '15th',
 'largest',
 'advertising',
 'agency,',
 'as',
 'measured',
 'by',
 '2012',
 'revenues).[11][12]',
 '']

In [23]:
sw.upper()

"THE SAMSUNG GROUP[3] (OR SIMPLY SAMSUNG, STYLIZED AS SΛMSUNG) (KOREAN: 삼성 [SAMSɅŊ]) IS A SOUTH KOREAN MULTINATIONAL MANUFACTURING CONGLOMERATE HEADQUARTERED IN SAMSUNG TOWN, SEOUL, SOUTH KOREA.[1] IT COMPRISES NUMEROUS AFFILIATED BUSINESSES,[1] MOST OF THEM UNITED UNDER THE SAMSUNG BRAND, AND IS THE LARGEST SOUTH KOREAN CHAEBOL (BUSINESS CONGLOMERATE). AS OF 2020, SAMSUNG HAS THE 8TH HIGHEST GLOBAL BRAND VALUE.[4]\n\nSAMSUNG WAS FOUNDED BY LEE BYUNG-CHUL IN 1938 AS A TRADING COMPANY. OVER THE NEXT THREE DECADES, THE GROUP DIVERSIFIED INTO AREAS INCLUDING FOOD PROCESSING, TEXTILES, INSURANCE, SECURITIES, AND RETAIL. SAMSUNG ENTERED THE ELECTRONICS INDUSTRY IN THE LATE 1960S AND THE CONSTRUCTION AND SHIPBUILDING INDUSTRIES IN THE MID-1970S; THESE AREAS WOULD DRIVE ITS SUBSEQUENT GROWTH. FOLLOWING LEE'S DEATH IN 1987, SAMSUNG WAS SEPARATED INTO FIVE BUSINESS GROUPS – SAMSUNG GROUP, SHINSEGAE GROUP, CJ GROUP AND HANSOL GROUP, AND JOONGANG GROUP.\n\nNOTABLE SAMSUNG INDUSTRIAL AFFILIATES INCLUDE SAMSUNG ELECTRONICS (THE WORLD'S LARGEST INFORMATION TECHNOLOGY COMPANY, CONSUMER ELECTRONICS MAKER AND CHIPMAKER MEASURED BY 2017 REVENUES),[5][6] SAMSUNG HEAVY INDUSTRIES (THE WORLD'S 2ND LARGEST SHIPBUILDER MEASURED BY 2010 REVENUES),[7] AND SAMSUNG ENGINEERING AND SAMSUNG C&T CORPORATION (RESPECTIVELY THE WORLD'S 13TH AND 36TH LARGEST CONSTRUCTION COMPANIES).[8] OTHER NOTABLE SUBSIDIARIES INCLUDE SAMSUNG LIFE INSURANCE (THE WORLD'S 14TH LARGEST LIFE INSURANCE COMPANY),[9] SAMSUNG EVERLAND (OPERATOR OF EVERLAND RESORT, THE OLDEST THEME PARK IN SOUTH KOREA)[10] AND CHEIL WORLDWIDE (THE WORLD'S 15TH LARGEST ADVERTISING AGENCY, AS MEASURED BY 2012 REVENUES).[11][12] "

In [24]:
sw.lower()

"the samsung group[3] (or simply samsung, stylized as sλmsung) (korean: 삼성 [samsʌŋ]) is a south korean multinational manufacturing conglomerate headquartered in samsung town, seoul, south korea.[1] it comprises numerous affiliated businesses,[1] most of them united under the samsung brand, and is the largest south korean chaebol (business conglomerate). as of 2020, samsung has the 8th highest global brand value.[4]\n\nsamsung was founded by lee byung-chul in 1938 as a trading company. over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. following lee's death in 1987, samsung was separated into five business groups – samsung group, shinsegae group, cj group and hansol group, and joongang group.\n\nnotable samsung industrial affiliates include samsung electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] samsung heavy industries (the world's 2nd largest shipbuilder measured by 2010 revenues),[7] and samsung engineering and samsung c&t corporation (respectively the world's 13th and 36th largest construction companies).[8] other notable subsidiaries include samsung life insurance (the world's 14th largest life insurance company),[9] samsung everland (operator of everland resort, the oldest theme park in south korea)[10] and cheil worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues).[11][12] "

In [25]:
sw

"The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]\n\nSamsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group.\n\nNotable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's 2nd largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues).[11][12] "

In [33]:
s = "sudhanshu kumar"

s.title()

'Sudhanshu Kumar'

In [34]:
s.capitalize()

'Sudhanshu kumar'

In [35]:
s = "Sudhanshu kuMAR"

s.swapcase()

'sUDHANSHU KUmar'

In [36]:
reversed(s)

In [37]:
## Now to see the reversed string

''.join(reversed(s))

'RAMuk uhsnahduS'

In [38]:
s = "      sudh     "

s.strip()

'sudh'

In [39]:
s.lstrip()

'sudh     '

In [40]:
s.rstrip()

'      sudh'

In [42]:
"-".join("Arunava")

'A-r-u-n-a-v-a'

In [44]:
s = "sudh"

s.center(20, '#')

'########sudh########'

In [45]:
s = "Sudhanshu"

In [46]:
s.isupper()

False

In [47]:
s.startswith('i')     ## It is case sensitive

False

In [48]:
s.isascii()

True

In [ ]:
### Challenges:


s = "this is My First Python programming class and i am learNING python string and its function"
1 . Try to extract data from index one to index 300 with a jump of 3 
2. Try to reverse a string without using reverse function 
3. Try to split a string after conversion of entire string in uppercase 
4. try to convert the whole string into lower case 
5 . Try to capitalize the whole string 
6 . Write a diference between isalnum() and isalpha()
7. Try to give an example of expand tab
8 . Give an example of strip , lstrip and rstrip 
9.  Replace a string charecter by another charector by taking your own example 
"sudhanshu"
10 . Try  to give a defination of string center function with an exmple 
11 . Write your own definition of compiler and interpretor without copy paste form internet in your own language
12 . Python is a interpreted of compiled language give a clear ans with your understanding 
13 . Try to write a usecase of python with your understanding 

Send a jupyter notebook to shivan@ineuron.ai before next saturday i.e. 21st May.