1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6 

2. What is the difference between string and variable?

3. Describe three different data types.

4. What is an expression made up of? What do all expressions do?
5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

8. Why is eggs a valid variable name while 100 is invalid?
9. What three functions can be used to get the integer, floating-point number, or string version of a value?
10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

#### 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

`* 'hello' -87.8 - / + 6`

**Ans:**

There are 3 values and 4 expressions.

**Values :** `'hello'`, `-87.8`, `6`

**Expressions :**  `*` , `-` , `/`, `+`

#### 2. What is the difference between string and variable?

**Ans:**

Variable is a kind of storage where information can be stored, and we can recall this variable at any time to use the information inside it. 

String is a single character or group of characters that are enclosed inside a `" "` or `' '`. String is a type of information that can be stored inside a variable.

#### 3. Describe three different data types.

**Ans:**

The three different data types are `int`, `float` and `bool`.

**Int :** It is use to store information where values are represented by whole numbers.

**Float :** It is use to store information where values are represented by decimal numbers.

**Bool :** It is use to store information where values are represented by `True` or `False`.

In [1]:
# Example for int data type
int_num = 1011
print(int_num, type(int_num))

# Example for float data type
flo_num = 4.67
print(flo_num, type(flo_num))

# Example for boolean data type
b_data = True
print(b_data, type(b_data))

1011 <class 'int'>
4.67 <class 'float'>
True <class 'bool'>

#### 4. What is an expression made up of? What do all expressions do?

**Ans:**

An expression is a combination of operands(values, variables) and operators. Expressions need to be evaluated. If we ask Python to print an expression, the interpreter evaluates the expression and displays the result.

In [3]:
10*1+20-30 # It is an Expression, The Python Interpreter Evaluates it to 0

0

#### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

**Ans:**

An expression is a combination of values, variables, and operators.When we type an expression at the prompt, the interpreter evaluates it, which means that it finds the value of the expression.

eg: 10*1+20-30 is an example of a statement.

A statement is a unit of code that has an effect, like creating a variable or displaying a value.When we type a statement, the interpreter executes it, which means that it does whatever the statement says. In general, statements donâ€™t have values.

eg: variable declaration and assignment are statements because they do not return a value.

In [4]:
#Example:
10*1+20-30 # Is a Expression
myName = 'My name is Arunava Biswas.' # Is a Statement
print("Hello World !") # Is a Expression Statement

Hello World !

#### 6. After running the following code, what does the variable bacon contain?

`bacon = 22`

`bacon + 1`

**Ans:**

Here the variable `bacon` will remain as `22` after running the code, as in the begining the variable is assigned with value 22. But at the 2nd line the value will not get increased y 1 as it didnot get reassign to the variale `bacon`. To get the value increased by 1 the code should have been `bacon = bacon + 1`. But as in here it is not the case so at the end of the code the value of `bacon` will remain `22`.

#### 7. What should the values of the following two terms be?

`'spam' + 'spamspam'`

`'spam' * 3`

**Ans:**

For the 1st case i.e. `'spam' + 'spamspam'` the value will be `'spamspamspam'`.

For the 2nd case i.e. `'spam' * 3` the value will be `'spamspamspam'`.

Both expressions evaluate to the string **`'spamspamspam'`** Where as the first expression follows **String Concatentation** and the second expression follows **String Multiplication**.

#### 8. Why is eggs a valid variable name while 100 is invalid?

**Ans:**

As per python,Variable names cannot begin with a number. The python rules for naming a variable are :-

Variable name must start with a letter or the underscore character.

Variable name cannot start with a number.

Variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, & _ ).

Variable names are case-sensitive so ARUNAVA and arunava are different variable names.

The reserved words(keywords) cannot be used in naming the variable.

#### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

**Ans:**

The 3 functions are: `int()`, `float()` and `str()`.

In [18]:
# Examples:

# int() function converts given input to int
print('int(10.0) -> ',int(10.0), ': ', type(int(10.0))) 

# float() function converts given input to float
print('float(10) -> ',float(10), ': ', type(float(10))) 

# str() function converts given input to string
print('str(10) -> ',str(10), ': ', type(str(10)))

int(10.0) ->  10 :  <class 'int'>
float(10) ->  10.0 :  <class 'float'>
str(10) ->  10 :  <class 'str'>

#### 10. Why does this expression cause an error? How can you fix it?

`'I have eaten ' + 99 + ' burritos.'`

**Ans:**

The code is throwing error because `99` is not a string. To fix the error we need to typecast the `99` to a string type.

In [20]:
# Fix is:

'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'