Today's task:

Q1. Try to print a prime number between 1 to 1000.
Q2. Try to write a function which is equivalent to print function in python.
Q3. Try to write a function which is a replica of list append, extend and pop function.
Q4. Try to write a lambda function which can return a concatenation of all the string that are passed to it.
Q5. Try to write a lambda function which can return list of square of all the data between 1 to 100.
Q6. Try to write a 10 different different examples of lambda function with a choice of your task.
Q7. Try to write a function which can perform a read operation from .txt file.

### Q1: Try to print a prime number between 1 to 1000.

In [60]:
for num in range(1, 1001):
    if num == 1:
        print(num)
    elif num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

### Q2. Try to write a function which is equivalent to print function in python.

In [3]:
from sys import stdout

def printing(txt):
    stdout.write(txt)
    return


printing('Hello World!')

Hello World!

### Q3. Try to write a function which is a replica of list append, extend and pop function.

In [4]:
# List append replica

l = [1,2,4,6,7,4,5]

def l_app(a, b):
    i = len(a)
    a.insert(i,b)
    return a

l_app(l,8)

[1, 2, 4, 6, 7, 4, 5, 8]

In [8]:
# List extend replica

l1 = [9,4,3,5,6,7]
l2 = [2,8,1]

def l_ext(a, b):
    i = len(a)
    for n in b:
        a.insert(i,n)
    return a

l_ext(l1,l2)

[9, 4, 3, 5, 6, 7, 1, 8, 2]

In [47]:
# List pop replica

l = [9,4,3,5,6,7]


def l_pop(a, n=0): 
    if n > len(a):
        print('Pop index out of range.')
        return
    elif n > 0 and n <= len(a):
        i = a[n]
    else:
        i = a[-1]
    return i

l_pop(l,33)                # This will return the pop index error
print(l_pop(l,4))          # This will return the element of the specified index i.e. 4
print(l_pop(l))            # This will return the default last element

Pop index out of range.
6
7

### Q4. Try to write a lambda function which can return a concatenation of all the string that are passed to it.

In [2]:
string = lambda *s : str(' '.join(s))

string('This', 'is', 'iNeuron', 'FSDS', 'course')

'This is iNeuron FSDS course'

### Q5. Try to write a lambda function which can return list of square of all the data between 1 to 100.

In [9]:
squares = [lambda x=x: x*x for x in range(1, 101)]

l = []

for square in squares:
    l.append(square())

print("The square of all the values from 1 to 100 are:")
l

The square of all the values from 1 to 100 are:

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

### Q6. Try to write 10 different different examples of lambda function with a choice of your task.

In [49]:
# Lambda function for addition


add = lambda x, y: x + y

print(add(1, 2))

3

In [59]:
# Lambda function to print a multiplication

mul = lambda a,b: a*b  

print(mul(20,10))

200

In [50]:
# Lambda function for exponential


expo = lambda x,y: x**y

print(expo(2,3))

8

In [52]:
# Lambda function with if else clause

sq = lambda x : x*x if(x > 0) else None
 
print(sq(5))

25

In [56]:
# Lambda function to increase value of a variable
 
a = 5

x = lambda i : i + 10

print(x(a))

15

In [57]:
# Lambda function to print a string multiple times

s = lambda k,n: k*n

a = "This is a string."

print(s(a,2))

This is a string.This is a string.

In [53]:
# lambda function to concatenate strings

string = lambda *s : str(' '.join(s))

string('This', 'is', 'iNeuron', 'FSDS', 'course')

'This is iNeuron FSDS course'

In [54]:
# Lambda function to pop the last element of a list

l = [1,2,4,3,6,8,7,9]

pop_element = lambda a: a[-1]

pop_element(l)

9

In [55]:
# Lambda function to replicate extend for 2 lists

l1 = [9,4,3,5,6,7]
l2 = [2,8,1]

l_extend = lambda a,b: a + b

l_extend(l1,l2)

[9, 4, 3, 5, 6, 7, 2, 8, 1]

In [58]:
# Lambda function to print a table upto 10 of a number

def table(n):    
    return lambda a:a*n

n = int(input("Enter the number:"))  

b = table(n)

for i in range(1,11):    
    print(n,"X",i,"=",b(i))

Enter the number:5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

### Q7. Try to write a function which can perform a read operation from .txt file.

In [8]:
f = open('textfile.txt', "r")
print(f.read())
f.close()

This is a text file to test.