1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.
2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?
3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).
5. Read books.csv and insert its data into the book table.
6. Select and print the title column from the book table in alphabetical order.
7. From the book table, select and print all columns in the order of publication.
8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.
9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.
10. Increment the count field of test and print it.

#### 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [2]:
test1 = 'This is a test of the emergency text system,'
print(test1)

f = open('test.txt','w')
f.write(test1)
f.close()

This is a test of the emergency text system,

#### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [3]:
f = open('test.txt','r')
test2 = f.read()
print(test2)  
# Checking difference between test1 and test2
var = test1 == test2
if var == True:
    print("There is no difference between test1 and test2.")
else:
    print("There is difference between test1 and test2.")
f.close()

This is a test of the emergency text system,
There is no difference between test1 and test2.

#### 3. Create a CSV file called books.csv by using these lines:
`title,author,year`

`The Weirdstone of Brisingamen,Alan Garner,1960`

`Perdido Street Station,China Miéville,2000`

`Thud!,Terry Pratchett,2005`

`The Spellman Files,Lisa Lutz,2007`

`Small Gods,Terry Pratchett,1992`

In [5]:
data = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

# Here we need to pass the encoding parameter and set it's value to utf-8 as here we are trying to write a .csv file
f = open('books.csv','w', encoding="utf-8")
f.write(data)
f.close()

#### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [10]:
# Importing the module
import sqlite3

try:
# Creating the database and connecting to it
    db = sqlite3.connect('books.db')
    cursor = db.cursor()
    print("Database is created")
except Exception as e:
    print(e)
else:
# Creating table
    cursor.execute("CREATE TABLE books (title text, author text, year int)")
    db.commit()
finally:
# Closing the connection to the database
    db.close()

Database is created

#### 5. Read books.csv and insert its data into the book table.

In [11]:
# Importing the libraries
import sqlite3
import csv

try:
# Creating connection to the database
    conn = sqlite3.connect("books.db")
    cursor = conn.cursor()
except Exception as e:
    print(e)
else:
# Inserting data from books.csv to books Table
    with open("books.csv","r") as file:
        books = csv.DictReader(file)
        for book in books:
            cursor.execute("INSERT INTO books VALUES (?,?,?)",(book['title'],book['author'],book['year']))
    conn.commit()
finally:
# Closing the connection
    conn.close()

#### 6. Select and print the title column from the book table in alphabetical order.

In [13]:
# Importing the libraries
import sqlite3

try:
# Creating connection to the database
    conn = sqlite3.connect('books.db')
    cursor = conn.cursor()
except Exception as e:
    print(e)
else:
# Printing from books
    output = cursor.execute("SELECT title FROM books ORDER BY title ASC")
    for ele in output:
        print(ele[0])
    conn.commit()
finally:
# Closing the connection
    conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

#### 7. From the book table, select and print all columns in the order of publication.

In [14]:
# Importing the libraries
import sqlite3

try:
# Creating connection to the database
    conn = sqlite3.connect('books.db')
    cursor = conn.cursor()
except Exception as e:
    print(e)
else:
# Printing all columns
    ouput = cursor.execute("SELECT * FROM books ORDER BY year")
    for record in ouput:
        print(record)
finally:
# Closing the connection
    conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China MiÃ©ville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

#### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [22]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
conn

Engine(sqlite:///books.db)

In [24]:
# Now printing the data
rows = conn.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China MiÃ©ville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

#### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [19]:
!pip install --user redis

Requirement already satisfied: redis in c:\users\arunava\appdata\roaming\python\python39\site-packages (4.3.3)

WARNING: You are using pip version 21.3.1; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\Arunava\anaconda3\envs\data\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: packaging>=20.4 in c:\users\arunava\anaconda3\envs\data\lib\site-packages (from redis) (21.3)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\arunava\appdata\roaming\python\python39\site-packages (from redis) (4.0.2)
Requirement already satisfied: deprecated>=1.2.3 in c:\users\arunava\appdata\roaming\python\python39\site-packages (from redis) (1.2.13)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\arunava\appdata\roaming\python\python39\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\arunava\anaconda3\envs\data\lib\site-packages (from packaging>=20.4->redis) (3.0.4)

In [33]:

import redis
conn = redis.StrictRedis(host='localhost', port=6379, db=0)
conn.hset('test','count', 1)
conn.hset('test','name','Fester Bestertester')

conn.hgetall('test')


# Coudnot complete it as everytime i tried to run it it throw the following error:
# Error 10061 connecting to localhost:6379. No connection could be made because the target machine actively refused it.

#### 10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')