1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].
2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.
3.In the years list, which year were you the oldest?
4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".
5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?
6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."
7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.
8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.
9. Write the French word for walrus in your three-word dictionary e2f.
10. Make a French-to-English dictionary called f2e from e2f. Use the items method.
11. Print the English version of the French word chien using f2e.
12. Make and print a set of English words from the keys in e2f.
13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.
14. Print the top-level keys of life.
15. Print the keys for life['animals'].
16. Print the values for life['animals']['cats']

#### 1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [1]:
# Creating a list using list comprehension

years_list = [year for year in range(1987, 1987+6)]
print("List of years until my fifth birthday is: ", years_list)

List of years until my fifth birthday is:  [1987, 1988, 1989, 1990, 1991, 1992]

#### 2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

**Ans:**

My third birthday in `years_list` is `1990`.

In [2]:
birthday_3rd = years_list[3] 
print("Year of third birthday is: ", birthday_3rd)

Year of third birthday is:  1990

#### 3.In the years list, which year were you the oldest?

**Ans:**

The oldest year will be the last year in the list i.e. `1992`.

In [3]:
oldest_year = years_list[-1]
print("The oldest year in the list is: ", oldest_year)

The oldest year in the list is:  1992

#### 4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [4]:
things = ["mozzarella", "cinderella", "salmonella"]
things

['mozzarella', 'cinderella', 'salmonella']

#### 5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

**Ans:**

In the list `things` only the name `cinderella` refers to a person. So after capitalizing it if we print the list then only the element `cinderella` will become capitalized i.e. `Cinderella` and no other changes will occur in the list.

In [5]:
for e in range(len(things)):
    if things[e] == 'cinderella':
        things[e] = things[e].capitalize()       # Capitalizing the name
        
print(things)                      # printing the list

['mozzarella', 'Cinderella', 'salmonella']

#### 6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

In [6]:
suprise_list = ['Groucho','Chico','Harpo']
print(suprise_list)

['Groucho', 'Chico', 'Harpo']

#### 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [7]:
# lowercasing the last element
low = suprise_list[-1].lower()

# reversing the element
rev = low[::-1]

# Capitalizing it
rev.capitalize()

'Oprah'

In [8]:
# In one go it will be like:

print(suprise_list[-1].lower()[::-1].capitalize())

Oprah

#### 8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [9]:
# Creating the dictionary

e2f = {'dog':'chien','cat':'chat','walrus':'morse'}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

#### 9. Write the French word for walrus in your three-word dictionary e2f.

In [10]:
print(e2f['walrus'])

morse

#### 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [11]:
f2e = dict([e[::-1] for e in e2f.items()])
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

#### 11. Print the English version of the French word chien using f2e.

In [12]:
print(f2e['chien'])

dog

#### 12. Make and print a set of English words from the keys in e2f.

In [13]:
print(set(e2f.keys()))

{'walrus', 'cat', 'dog'}

#### 13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [14]:
life = {
    'animals':{
        'cats':['Henri','Grumpy','Lucy'],
        'octopi':{},
        'emus':{}
    },
    'plants':{},
    'other':{}
}
print(life)

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'other': {}}

#### 14. Print the top-level keys of life.

In [15]:
print(life.keys())

dict_keys(['animals', 'plants', 'other'])

#### 15. Print the keys for life['animals'].

In [16]:
print(life['animals'].keys())

dict_keys(['cats', 'octopi', 'emus'])

#### 16. Print the values for life['animals']['cats']

In [17]:
print(life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']