### Task 1 - Fitbit Dataset

1. Read this dataset in pandas , mysql and mongodb. 

2. While creating a table in mysql don't use manual approach instead use an automation to create a table in mysql.

- `hint` - use csvkit library to automate this task and to load a data in bulk in you mysql.

3. Convert all the dates avaible in dataset to timestamp format in pandas and in sql convert it in date format.

4. Find out number of unique IDs in the dataset.

5. Which ID is one of the active id in the whole dataset.

6. How many of them have not logged there activity? (find out in terms of number of ids) 

7. Find out who is the laziest person ID that we have in dataset.

8. Explore over internet that how much calory burn is required for a healthy person and find out how many healthy persons we have in our dataset.

9. How many person are not a regular person with respect to activity try to find out those.

10. Who is the third most active person in this dataset find out those in pandas and in sql both. 

11. Who is the 5th most laziest person avilable in dataset find it out.

12. What is a total acumulative calories burn for a person find out.

### Task 2 - Superstore_USA

1. Load this data in sql and in pandas with a relation in sql.(Create Primary key, Foreign key)

2. While loading this data you don't have to create a table manually you can use any automated approach to create a table and load a data in bulk in table.

3. Find out how many return that we have recived and with a product id.

4. Try  to join order and return data both in sql and pandas.

5. Try to find out how many unique customers that we have. 

6. Try to find out in how many regions we are selling a product and who is a manager for each respective regions.

7. Find out how many different shipement modes that we have and what is a percentage usablity of all the shipment mode with respect to the dataset.

8. Create a new coulmn and try to find out a diffrence between order date and shipment date.

9. Based on question number 8 find out for which order id we have shipment duration more than 10 days.

10. Try to find out a list of returned order where sihpment duration was more than 15 days and find out that region manager as well. 

11. Gorup by region and find out which region is more profitable.

12. Try to find out overall in which country we are giving more didscount.

13. Give me a list of unique postal codes.

14. Which customer segement is more profitalble find it out. 

15. Try to find out the 10th most loss making product catagory. 

16. Try to find out 10 top  product with highest margins.

submit your git link for the same 
 
you have to submit this task by next Friday 5th 11PM IST  to respective mail id 
sudhanshu@ineuron.ai , sunny.savita@ineuron.ai

## FitBit Dataset:

In [1]:
# import the libraries

import pandas as pd
import mysql.connector as conn
from mysql.connector import Error
from sqlalchemy import create_engine
import pymongo
import bson.json_util as json_util       # to read data from mongodb to take care of the ObjectId

#### 1. Read this dataset in pandas , mysql and mongodb.

#### 2. While creating a table in mysql don't use manual approach instead use an automation to create a table in mysql.

In [2]:
# Reading in Pandas

df = pd.read_csv('dataset/FitBit data.csv')
pd.set_option('display.max_columns', None)

df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [3]:
# checking datatypes

df.dtypes

Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
dtype: object

In [4]:
# Changing column ActivityDate to date as because in mysql the default date format is 'YYYY-MM-DD'

df['ActivityDate'] = pd.to_datetime(df['ActivityDate'], yearfirst=True)

df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,2016-03-26,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,2016-03-27,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,2016-03-28,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,2016-03-29,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [5]:
# checking again dtypes

df.dtypes

Id                                   int64
ActivityDate                datetime64[ns]
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
dtype: object

##### MySQL part

In [6]:
# Creating functions for MySQL

# Server connection
def create_server_connection(host_name, user_name, user_pwd):
    connection = None
    try:
        connection = conn.connect(host=host_name, user=user_name, passwd=user_pwd)

        print("Connection to MySQL is successful.")

    except Error as err:
        print(f"Error is: {err}")

    else:
        return connection
    

    
# Creating database
def create_database(connection, query):
    cursor = connection.cursor()

    try:
        cursor.execute(query)
        print("Database created successfully")

    except Error as err:
        print(f"Error is: {err}")
        

        
# Connecting to the database
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = conn.connect(host=host_name, user=user_name, passwd=user_password, database=db_name)
        print("Connected to the Database Successfully")

    except Error as err:
        print(f"Error is: {err}")

    else:
        return connection
 


    
# Executing query
def execute_query(connection, query):
    cursor = connection.cursor()

    try:
        cursor.execute(query)
        connection.commit()
        print("Query execution was successful")

    except Error as err:
        print(f"Error is: {err}")
        

        
        
# Showing query results
def read_query(connection, query):
    cursor = connection.cursor()
    result = None

    try:
        cursor.execute(query)
        result = cursor.fetchall()
        print("Query reading was successful")

    except Error as err:
        print(f"Error: {err}")

    else:
        return result

In [7]:
# Connection with MySQL

host = "localhost"
user = "root"
pw = "Password"

connection = create_server_connection(host, user, pw)

Connection to MySQL is successful.

In [8]:
# Creating the database

query = "CREATE DATABASE IF NOT EXISTS panda_exercise"
create_database(connection, query)

Database created successfully

In [9]:
# Connecting with the database

db = "panda_exercise"

db_connection = create_db_connection(host, user, pw, db)

Connected to the Database Successfully

In [11]:
# Creating table and inserting data

engine = create_engine("mysql+pymysql://root:Password@localhost:3306/panda_exercise")


try:
    df.to_sql(name='fitbit', con=engine, index=False, if_exists='replace')
except Exception as e:
    print("Error is: ", e)
else:
    print("Query is Successful")

Query is Successful

In [12]:
# Reading from SQL

# query
q = 'SELECT * FROM fitbit;'

# calling the function to get result
results = read_query(db_connection, q)

# collecting the result from the database
from_db = []

for result in results:
    result = list(result)
    from_db.append(result)
    
# creating column names
cols = ['Id', 'ActivityDate', 'TotalSteps', 'TotalDistance', 'TrackerDistance',\
       'LoggedActivitiesDistance', 'VeryActiveDistance',\
       'ModeratelyActiveDistance', 'LightActiveDistance',\
       'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes',\
       'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories']

# creating dtaframe of the result
df1 = pd.DataFrame(from_db, columns = cols)
display(df1)

Query reading was successful

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,2016-03-26,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,2016-03-27,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,2016-03-28,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,2016-03-29,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,2016-04-08,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,2016-04-09,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,2016-04-10,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,2016-04-11,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,2016-04-12,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

##### MongoDB part

In [12]:
pwd

'F:\\Machine Learning\\INeuron_FSDS\\Live Classes\\Pandas'

In [13]:
# convering data to a json file

df2 = pd.read_csv('dataset/FitBit data.csv')

df2.to_json('F:\\Machine Learning\\INeuron_FSDS\\Live Classes\\Pandas\\dataset\\fitbit.json')

In [14]:
# connecting with the server
try:
    client = pymongo.MongoClient("mongodb+srv://ineuron:Project1@cluster0.rp4qzrr.mongodb.net/?retryWrites=true&w=majority")
except Exception as e:
    print(e)
else:
    print("Connection to MongoDB server is successful.")

Connection to MongoDB server is successful.

In [15]:
# creating database and collection

db = client["panda_exercise"]
coll = db['fitbit']

In [16]:
try:
    import json
except ImportError:
    import simplejson as json

In [17]:
# Inserting the data into the collection
try:
    with open('dataset/fitbit.json') as file:
        file_data = json.load(file)
        
        coll.insert_many([file_data])
except Exception as e:
    print(e)
else:
    print("Data inserted successfully.")

Data inserted successfully.

In [18]:
# Now to read the data

results = coll.find()
try:
    for result in results:
        data = json_util.dumps(result)
        df3 = pd.read_json(data, orient='index')
except Exception as e:
    print(e)
else:
    display(df3)

,$oid,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456
_id,62e8bb15c0968bbb4d1a02b0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Id,NaN,1503960366,1503960366,1503960366,1503960366,1503960366,1503960366,1503960366,1503960366,1503960366,1503960366,1503960366,1503960366,1503960366,1503960366,1503960366,1503960366,1503960366,1503960366,1503960366,1624580081,1624580081,1624580081,1624580081,1624580081,1624580081,1624580081,1624580081,1624580081,1624580081,1624580081,1624580081,1624580081,1624580081,1624580081,1624580081,1624580081,1624580081,1624580081,1644430081,1644430081,1644430081,1644430081,1644430081,1644430081,1644430081,1644430081,1644430081,1644430081,1844505072,1844505072,1844505072,1844505072,1844505072,1844505072,1844505072,1844505072,1844505072,1844505072,1844505072,1844505072,1927972279,1927972279,1927972279,1927972279,1927972279,1927972279,1927972279,1927972279,1927972279,1927972279,1927972279,1927972279,2022484408,2022484408,2022484408,2022484408,2022484408,2022484408,2022484408,2022484408,2022484408,2022484408,2022484408,2022484408,2026352035,2026352035,2026352035,2026352035,2026352035,2026352035,2026352035,2026352035,2026352035,2026352035,2026352035,2026352035,2320127002,2320127002,2320127002,2320127002,2320127002,2320127002,2320127002,2320127002,2320127002,2320127002,2320127002,2320127002,2347167796,2347167796,2347167796,2347167796,2347167796,2347167796,2347167796,2347167796,2347167796,2347167796,2347167796,2347167796,2347167796,2347167796,2347167796,2873212765,2873212765,2873212765,2873212765,2873212765,2873212765,2873212765,2873212765,2873212765,2873212765,2873212765,2873212765,2891001357,2891001357,2891001357,2891001357,2891001357,2891001357,2891001357,2891001357,3372868164,3372868164,3372868164,3372868164,3372868164,3372868164,3372868164,3372868164,3372868164,3372868164,3977333714,3977333714,3977333714,3977333714,3977333714,3977333714,3977333714,3977333714,3977333714,3977333714,3977333714,3977333714,4020332650,4020332650,4020332650,4020332650,4020332650,4020332650,4020332650,4020332650,4020332650,4020332650,4020332650,4020332650,4020332650,4020332650,4020332650,4020332650,4020332650,4020332650,4020332650,4020332650,4020332650,4020332650,4020332650,4020332650,4020332650,4020332650,4020332650,4020332650,4020332650,4020332650,4020332650,4020332650,4057192912,4057192912,4057192912,4057192912,4057192912,4057192912,4057192912,4057192912,4057192912,4057192912,4057192912,4057192912,4057192912,4057192912,4057192912,4057192912,4057192912,4057192912,4057192912,4057192912,4057192912,4057192912,4057192912,4057192912,4057192912,4057192912,4057192912,4057192912,4057192912,4057192912,4057192912,4057192912,4319703577,4319703577,4319703577,4319703577,4319703577,4319703577,4319703577,4319703577,4319703577,4319703577,4319703577,4319703577,4388161847,4388161847,4388161847,4388161847,4388161847,4388161847,4388161847,4388161847,4445114986,4445114986,4445114986,4445114986,4445114986,4445114986,4445114986,4445114986,4445114986,4445114986,4445114986,4445114986,4445114986,4445114986,4445114986,4558609924,4558609924,4558609924,4558609924,4558609924,4558609924,4558609924,4558609924,4558609924,4558609924,4558609924,4558609924,4702921684,4702921684,4702921684,4702921684,4702921684,4702921684,4702921684,4702921684,4702921684,4702921684,4702921684,4702921684,4702921684,4702921684,4702921684,5553957443,5553957443,5553957443,5553957443,5553957443,5553957443,5553957443,5553957443,5553957443,5553957443,5553957443,5553957443,5577150313,5577150313,5577150313,5577150313,5577150313,5577150313,5577150313,5577150313,5577150313,5577150313,5577150313,6117666160,6117666160,6117666160,6117666160,6117666160,6117666160,6117666160,6117666160,6117666160,6117666160,6290855005,6290855005,6290855005,6290855005,6290855005,6290855005,6290855005,6290855005,6290855005,6290855005,6391747486,6391747486,6391747486,6391747486,6391747486,6391747486,6391747486,6391747486,6391747486,6775888955,6775888955,6775888955,6775888955,6775888955,6775888955,6775888955,6775888955,6775888955,6962181067,6962181067,6962181067,6962181067,6962181067,6962181067,6962181067,6962181067,6962181067,6962181067,6962181067,6962181067,6962181067,6962181067,7007744171,7007744171,7007744171,7007744171,7007744171,7007744171,7007744171,7007744171,7007744171,7007744171,7007744171,7007744171,7086361926,7086361926,7086361926,7086361926,7086361926,7086361926,7086361926,7086361926,7086361926,7086361926,7086361926,7086361926,8053475328,8053475328,8053475328,8053475328,8053475328,8053475328,8053475328,8053475328,8053475328,8053475328,8053475328,8253242879,8253242879,8253242879,8253242879,8253242879,8253242879,8253242879,8253242879,8253242879,8253242879,8253242879,8253242879,8378563200,8378563200,8378563200,8378563200,8378563200,8378563200,8378563200,8378563200,8378563200,8378563200,8378563200,8378563200,8583815059,8583815059,8583815059,8583815059,8583815059,8583815059,8583815059,8583815059,8792009665,8792009665,8792009665,8792009665,8792009665,8792009665,8792009665,8792009665,8792009665,8792009665,8792009665,8792009665,8877689391,8877689391,8877689391,8877689391,8877689391,8877689391,8877689391,8877689391,8877689391,8877689391,8877689391,8877689391
ActivityDate,NaN,3/25/2016,3/26/2016,3/27/2016,3/28/2016,3/29/2016,3/30/2016,3/31/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,4/10/2016,4/11/2016,4/12/2016,3/25/2016,3/26/2016,3/27/2016,3/28/2016,3/29/2016,3/30/2016,3/31/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,4/10/2016,4/11/2016,4/12/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,4/10/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,4/10/2016,4/11/2016,4/12/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,4/10/2016,4/11/2016,4/12/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,4/10/2016,4/11/2016,4/12/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,4/10/2016,4/11/2016,4/12/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,4/10/2016,4/11/2016,4/12/2016,3/29/2016,3/30/2016,3/31/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,4/10/2016,4/11/2016,4/12/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,4/10/2016,4/11/2016,4/12/2016,3/29/2016,3/30/2016,3/31/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,4/10/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,4/10/2016,4/11/2016,4/12/2016,3/12/2016,3/13/2016,3/14/2016,3/15/2016,3/16/2016,3/17/2016,3/18/2016,3/19/2016,3/20/2016,3/21/2016,3/22/2016,3/23/2016,3/24/2016,3/25/2016,3/26/2016,3/27/2016,3/28/2016,3/29/2016,3/30/2016,3/31/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,4/10/2016,4/11/2016,4/12/2016,3/12/2016,3/13/2016,3/14/2016,3/15/2016,3/16/2016,3/17/2016,3/18/2016,3/19/2016,3/20/2016,3/21/2016,3/22/2016,3/23/2016,3/24/2016,3/25/2016,3/26/2016,3/27/2016,3/28/2016,3/29/2016,3/30/2016,3/31/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,4/10/2016,4/11/2016,4/12/2016,3/29/2016,3/30/2016,3/31/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,3/29/2016,3/30/2016,3/31/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,3/29/2016,3/30/2016,3/31/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,4/10/2016,4/11/2016,4/12/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,4/10/2016,4/11/2016,4/12/2016,3/29/2016,3/30/2016,3/31/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,4/10/2016,4/11/2016,4/12/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,4/10/2016,4/11/2016,4/12/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,4/10/2016,4/11/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,4/10/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,4/10/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,3/30/2016,3/31/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,4/10/2016,4/11/2016,4/12/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,4/10/2016,4/11/2016,4/12/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,4/10/2016,4/11/2016,4/12/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,4/10/2016,4/11/2016,4/12/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,4/10/2016,4/11/2016,4/12/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,4/10/2016,4/11/2016,4/12/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,4/10/2016,4/11/2016,4/12/2016,4/1/2016,4/2/2016,4/3/2016,4/4/2016,4/5/2016,4/6/2016,4/7/2016,4/8/2016,4/9/2016,4/10/2016,4/11/2016,4/12/2016
TotalSteps,NaN,11004,17609,12736,13231,12041,10970,12256,12262,11248,10016,14557,14844,11974,10198,12521,12432,10057,10990,224,1810,815,1985,1905,1552,1675,4506,9218,1556,2910,18464,1335,1004,1111,6344,3572,3910,10000,6627,4636,20237,12912,2819,9921,8046,11166,7842,13840,1329,6847,5367,2841,0,0,7,6344,5316,4979,6556,5430,0,4317,5662,3198,2352,2234,1259,768,519,2523,2105,1209,24,13603,5477,11144,15313,10805,15392,18247,13023,16267,10005,10106,6717,2605,1229,2308,6679,5645,3180,2767,3762,3098,5142,3279,1019,0,0,0,0,4931,6999,1846,3417,4863,2277,11230,2098,10272,10533,6760,8328,15459,7485,10254,10114,11107,10320,10209,16081,10078,10001,0,890,2214,7640,9713,8432,7350,9353,7157,14103,5290,7497,0,0,0,0,0,4126,0,0,2063,5785,7625,4706,5861,4460,6406,7392,5551,8827,4662,4499,7618,11508,11943,12303,15425,8422,10226,14583,3573,3108,759,5543,3226,3023,5906,12483,8940,368,5702,10330,8778,6662,6309,1951,5563,4370,7144,2106,4152,5400,7428,5351,4299,6107,6429,6880,7476,6581,10480,7734,5129,2993,8,0,0,8433,0,2139,0,949,0,44,2660,5561,7239,7,0,0,2275,8,5137,5419,0,0,0,0,0,0,18,4,8426,1650,3434,6801,187,5643,9043,8144,9343,8405,8223,10067,8359,10946,9130,6544,0,0,0,0,0,0,0,0,0,2303,2600,4804,3271,5406,3146,2422,4239,6911,6667,5543,4195,6625,5986,278,5336,3183,6176,8205,6799,5668,7998,4195,5512,6263,8828,1260,6506,7583,6963,7165,10328,12116,7810,6670,7605,6585,8184,14002,11135,6499,0,12409,2937,1515,8921,11306,12252,15444,9938,4599,5594,11906,3436,10461,14873,9917,7401,8964,11080,4499,4363,10494,9776,2862,7444,19658,0,8468,9910,12409,4853,8955,10789,0,6633,9548,0,0,0,0,0,0,0,0,0,2101,0,0,9766,165,0,0,0,7225,1988,1577,0,9348,11761,13987,4131,14,15491,14097,10467,12437,12307,18952,12010,12480,13417,14400,12495,10148,12362,5893,11680,10976,16806,15266,12084,13513,14100,12627,10345,10146,12168,7413,11463,87,1949,6101,7478,7352,14604,9634,7338,569,6242,430,20188,25701,17395,17167,16435,17078,11693,11159,10118,16064,290,0,0,0,0,0,1931,5181,12026,5360,2545,1636,0,14179,3358,9152,13935,12846,9124,9725,8350,2240,2631,8837,3246,2174,3494,2380,3159,6835,2098,2816,1408,4592,8452,7238,3821,2332,2121,1291,1467,1022,4605,178,20,18700,27572,15260,20779,10695,24136,10910,23014,16470,28497,10622,2350
TotalDistance,NaN,7.11,11.55,8.53,8.93,7.85,7.16,7.86,7.87,7.25,6.37,9.8,9.73,7.67,6.44,7.94,8.1,6.98,7.26,0.14,1.18,0.53,1.29,1.24,1.01,1.09,2.93,5.99,1.01,1.89,12.0,0.87,0.65,0.72,4.12,2.32,2.54,6.5,4.31,3.41,14.71,9.41,2.05,7.21,5.85,8.12,5.7,10.06,0.97,4.53,3.55,1.88,0.0,0.0,0.0,4.19,3.51,3.29,4.34,3.59,0.0,2.99,3.92,2.21,1.63,1.55,0.87,0.53,0.36,1.75,1.46,0.84,0.02,9.6,3.84,7.82,11.0,7.59,10.93,13.83,9.26,12.59,7.02,7.09,4.72,1.62,0.76,1.43,4.14,3.5,1.97,1.72,2.33,1.92,3.19,2.03,0.63,0.0,0.0,0.0,0.0,3.32,4.72,1.24,2.3,3.28,1.53,7.67,1.41,6.79,7.1,4.47,5.51,10.22,4.95,6.8,6.82,7.34,6.85,6.75,10.63,6.83,6.61,0.0,0.6,1.49,5.13,6.53,5.67,4.94,6.31,4.81,9.56,3.55,5.04,0.0,0.0,0.0,0.0,0.0,3.22,0.0,0.0,1.61,3.95,5.23,3.21,4.02,3.04,4.39,5.1,3.79,6.25,3.18,3.01,5.1,7.7,7.99,8.23,10.32,5.63,6.84,9.76,2.39,2.14,0.57,3.97,2.31,2.17,4.23,8.99,6.41,0.26,4.09,7.41,6.29,4.78,4.52,1.41,3.99,3.13,5.12,1.51,2.98,3.87,5.33,3.84,3.1,4.38,4.6,4.93,5.36,4.72,7.51,5.55,3.68,2.15,0.01,0.0,0.0,6.23,0.0,1.56,0.0,0.69,0.0,0.03,1.94,4.19,5.34,0.01,0.0,0.0,1.68,0.01,3.76,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.01,0.0,6.16,1.21,2.51,4.98,0.14,3.79,6.07,5.46,6.27,5.66,5.52,6.76,5.63,7.35,6.15,4.41,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.55,1.74,3.22,2.19,3.63,2.11,1.63,2.84,4.78,4.61,3.72,2.81,4.45,4.13,0.19,3.53,2.1,4.08,5.42,4.49,3.75,5.29,2.77,3.64,4.14,5.84,0.83,5.28,6.15,5.65,5.81,8.38,9.83,6.36,5.41,6.18,5.34,6.64,11.36,9.03,5.27,0.0,8.1,1.92,0.99,5.88,7.38,8.0,10.08,6.49,3.0,3.65,7.77,2.24,7.87,11.11,7.41,5.56,6.7,8.3,3.36,3.26,7.84,7.38,2.14,5.62,14.84,0.0,6.39,7.48,9.37,3.66,6.76,8.15,0.0,5.01,7.22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.03,0.0,0.0,7.51,0.13,0.0,0.0,0.0,5.18,1.43,1.13,0.0,6.7,8.43,10.03,2.96,0.01,10.24,9.32,6.98,8.3,8.14,12.8,7.94,8.86,9.65,10.88,8.26,6.71,9.09,3.9,9.06,7.34,11.24,11.4,9.14,10.25,10.58,9.65,6.92,6.79,8.14,5.77,7.67,0.02,1.31,3.87,4.99,4.73,10.82,6.52,4.67,0.35,3.92,0.26,15.62,20.139999,13.21,13.41,12.42,13.2,9.54,9.14,7.73,12.72,0.21,0.0,0.0,0.0,0.0,0.0,1.28,3.42,9.15,3.54,1.68,1.08,0.0,11.24,2.66,7.26,11.05,10.19,7.24,7.71,6.62,1.78,2.09,7.01,2.57,1.7,2.73,1.86,2.46,5.33,1.64,2.2,1.1,2.94,5.41,4.63,2.45,1.49,1.36,0.83,0.94,0.65,2.95,0.11,0.01,15.82,23.389999,8.19,18.41,8.12,20.91,8.42,20.389999,8.07,27.530001,8.06,1.78
TrackerDistance,NaN,7.11,11.55,8.53,8.93,7.85,7.16,7.86,7.87,7.25,6.37,9.8,9.73,7.67,6.44,7.94,8.1,6.98,7.26,0.14,1.18,0.53,1.29,1.24,1.01,1.09,2.93,5.99,1.01,1.89,12.0,0.87,0.65,0.72,4.12,2.32,2.54,6.5,4.31,3.41,14.71,9.41,2.05,7.21,5.85,8.12,5.7,10.06,0.97,4.53,3.55,1.88,0.0,0.0,0.0,4.19,3.51,3.29,4.34,3.59,0.0,2.99,3.92,2.21,1.63,1.55,0.87,0.53,0.36,1.75,1.46,0.84,0.02,9.6,3.84,7.82,11.0,7.59,10.93,13.83,9.26,12.59,7.02,7.09,4.72,1.62,0.76,1.43,4.14,3.5,1.97,1.72,2.33,1.92,3.19,2.03,0.63,0.0,0.0,0.0,0.0,3.32,4.72,1.24,2.3,3.28,1.53,7.67,1.41,6.79,7.1,4.47,5.51,10.22,4.95,6.8,6.82,7.34,6.85,6.75,10.63,6.83,6.61,0.0,0.6,1.49,5.13,6.53,5.67,4.94,6.31,4.81,9.56,3.55,5.04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.95,5.23,3.21,4.02,3.04,4.39,5.1,3.79,6.25,3.18,3.01,5.1,7.7,7.99,8.23,10.32,5.63,6.84,9.76,2.39,2.14,0.57,3.97,2.31,2.17,4.23,8.99,6.41,0.26,4.09,7.41,6.29,4.78,4.52,1.41,3.99,3.13,5.12,1.51,2.98,3.87,5.33,3.84,3.1,4.38,4.6,4.93,5.36,4.72,7.51,5.55,3.68,2.15,0.01,0.0,0.0,6.23,0.0,1.56,0.0,0.69,0.0,0.03,1.94,4.19,5.34,0.01,0.0,0.0,1.68,0.01,3.76,4.57,0.0,0.0,0.0,0.0,0.0,0.0,0.01,0.0,6.16,1.21,2.51,4.98,0.14,3.79,6.07,5.46,6.27,5.66,5.52,6.76,5.63,7.35,6.15,4.41,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.55,1.74,3.22,2.19,3.63,2.11,1.63,2.84,4.78,4.61,3.72,2.81,4.45,4.13,0.19,3.53,2.1,4.08,5.42,4.49,3.75,5.29,2.77,3.64,4.14,5.84,0.83,5.28,6.15,5.65,5.81,8.38,9.83,6.36,5.41,6.18,5.34,6.64,11.36,9.03,5.27,0.0,8.1,1.92,0.99,5.88,7.38,8.0,10.08,6.49,3.0,3.65,7.77,2.24,7.87,11.11,7.41,5.56,6.7,8.3,3.36,3.26,7.84,7.38,2.14,5.62,14.84,0.0,6.39,7.48,9.37,3.66,6.76,8.15,0.0,5.01,7.22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.78,0.13,0.0,0.0,0.0,5.18,1.43,1.13,0.0,6.7,8.43,10.03,2.96,0.01,10.24,9.32,6.98,8.3,8.14,12.8,7.94,8.25,8.87,9.52,8.26,6.71,8.17,3.9,7.81,7.34,11.24,10.21,8.08,9.07,9.43,8.45,6.92,6.79,8.14,4.96,7.67,0.02,1.31,3.87,4.99,4.73,10.82,6.52,4.67,0.35,3.92,0.26,15.62,20.139999,13.21,13.41,12.42,13.2,9.54,9.14,7.73,12.72,0.21,0.0,0.0,0.0,0.0,0.0,1.28,3.42,9.15,3.54,1.68,1.08,0.0,11.24,2.66,7.26,11.05,10.19,7.24,7.71,6.62,1.78,2.09,7.01,2.57,1.7,2.73,1.86,2.46,5.33,1.64,2.2,1.1,2.94,5.41,4.63,2.45,1.49,1.36,0.83,0.94,0.65,2.95,0.11,0.01,15.82,23.389999,8.19,18.41,8.12,20.91,8.42,20.389999,8.07,27.530001,8.06,1.78

#### 3. Convert all the dates avaible in dataset to timestamp format in pandas and in sql convert it in date format.

In [13]:
# original dataset

df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,2016-03-26,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,2016-03-27,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,2016-03-28,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,2016-03-29,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [14]:
df.dtypes

Id                                   int64
ActivityDate                datetime64[ns]
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
dtype: object

**The `ActivityDate` column in pandas is already changed to datetime format. Let's make the change in MySQL.**

#####  In MySQL Database datatypes before the change

In [15]:
# query
q = 'DESC fitbit;'

# calling the function to get result
results = read_query(db_connection, q)

# collecting the result from the database
from_db = []

for result in results:
    result = list(result)
    from_db.append(result)
    


# creating dtaframe of the result
df1 = pd.DataFrame(from_db)
df1

Query reading was successful

                           0            1    2 3     4 5
0                         Id    b'bigint'  YES    None
1               ActivityDate  b'datetime'  YES    None
2                 TotalSteps    b'bigint'  YES    None
3              TotalDistance    b'double'  YES    None
4            TrackerDistance    b'double'  YES    None
5   LoggedActivitiesDistance    b'double'  YES    None
6         VeryActiveDistance    b'double'  YES    None
7   ModeratelyActiveDistance    b'double'  YES    None
8        LightActiveDistance    b'double'  YES    None
9    SedentaryActiveDistance    b'double'  YES    None
10         VeryActiveMinutes    b'bigint'  YES    None
11       FairlyActiveMinutes    b'bigint'  YES    None
12      LightlyActiveMinutes    b'bigint'  YES    None
13          SedentaryMinutes    b'bigint'  YES    None
14                  Calories    b'bigint'  YES    None

##### In MySQL Database changing the type of the datetime column to date

In [16]:
# query
query = 'ALTER TABLE fitbit MODIFY ActivityDate DATE;'

execute_query(db_connection, query)

Query execution was successful

##### In MySQL Database datatypes after the change

In [17]:
# query
q = 'DESC fitbit;'

# calling the function to get result
results = read_query(db_connection, q)

# collecting the result from the database
from_db = []

for result in results:
    result = list(result)
    from_db.append(result)
    


# creating dtaframe of the result
df1 = pd.DataFrame(from_db)
df1

Query reading was successful

                           0          1    2 3     4 5
0                         Id  b'bigint'  YES    None
1               ActivityDate    b'date'  YES    None
2                 TotalSteps  b'bigint'  YES    None
3              TotalDistance  b'double'  YES    None
4            TrackerDistance  b'double'  YES    None
5   LoggedActivitiesDistance  b'double'  YES    None
6         VeryActiveDistance  b'double'  YES    None
7   ModeratelyActiveDistance  b'double'  YES    None
8        LightActiveDistance  b'double'  YES    None
9    SedentaryActiveDistance  b'double'  YES    None
10         VeryActiveMinutes  b'bigint'  YES    None
11       FairlyActiveMinutes  b'bigint'  YES    None
12      LightlyActiveMinutes  b'bigint'  YES    None
13          SedentaryMinutes  b'bigint'  YES    None
14                  Calories  b'bigint'  YES    None

#### 4. Find out number of unique IDs in the dataset.

In [18]:
num = len(df['Id'].unique())

print(f"Number of unique ids in the dataset are {num}")

Number of unique ids in the dataset are 35

#### 5. Which ID is one of the active id in the whole dataset.

In [19]:
# creating a column with total active minutes for each id

df['total_active_mins'] = df['VeryActiveMinutes'] + df['FairlyActiveMinutes'] + df['LightlyActiveMinutes'] + df['SedentaryMinutes']

df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,total_active_mins
0,1503960366,2016-03-25,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819,1054
1,1503960366,2016-03-26,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154,968
2,1503960366,2016-03-27,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944,934
3,1503960366,2016-03-28,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932,1363
4,1503960366,2016-03-29,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886,1062

In [21]:
df_active = df.groupby('Id')['total_active_mins'].sum().sort_values(ascending = False).reset_index()

df_active

            Id  total_active_mins
0   4057192912              45051
1   4020332650              39210
2   1624580081              26613
3   1503960366              20705
4   2873212765              17079
5   8253242879              17065
6   2320127002              16526
7   2022484408              16504
8   8877689391              16429
9   4558609924              16107
10  7007744171              16069
11  4445114986              16020
12  8053475328              15015
13  4702921684              14905
14  2347167796              14585
15  1844505072              14344
16  3372868164              13873
17  6290855005              13474
18  1644430081              13202
19  6962181067              13009
20  1927972279              12795
21  4319703577              12643
22  7086361926              12408
23  8792009665              12391
24  6391747486              11718
25  6117666160              11686
26  3977333714              11509
27  8583815059              11211
28  4388161847              11074
29  8378563200              11026
30  6775888955              10899
31  2891001357              10809
32  5577150313              10264
33  5553957443               9976
34  2026352035               9942

In [23]:
# So the most active id is

filt = (df_active.total_active_mins == df_active.total_active_mins.max())

print("The most active id is:")
df_active.loc[filt]

The most active id is:

           Id  total_active_mins
0  4057192912              45051

In [70]:
# Let's also find the Ids who was most active on any particular day

filt = (df['total_active_mins'] == df['total_active_mins'].max())

df[filt]

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,total_active_mins
5,1503960366,2016-03-30,10970,7.160000,7.160000,0.0,2.36,0.51,4.29,0.00,30,13,223,1174,1820,1440
12,1503960366,2016-04-06,11974,7.670000,7.670000,0.0,2.04,0.48,5.15,0.00,27,12,228,1173,1861,1440
13,1503960366,2016-04-07,10198,6.440000,6.440000,0.0,1.20,0.79,4.45,0.00,17,20,195,1208,1755,1440
14,1503960366,2016-04-08,12521,7.940000,7.940000,0.0,3.31,0.90,3.74,0.00,46,22,212,1160,1895,1440
19,1624580081,2016-03-25,1810,1.180000,1.180000,0.0,0.00,0.00,1.13,0.01,0,0,121,1319,1373,1440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,8877689391,2016-04-07,10910,8.420000,8.420000,0.0,2.96,0.39,5.03,0.00,32,11,212,1185,2947,1440
452,8877689391,2016-04-08,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196,1440
453,8877689391,2016-04-09,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841,1440
454,8877689391,2016-04-10,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526,1440
455,8877689391,2016-04-11,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820,1440

#### 6. How many of them have not logged their activity? (find out in terms of number of ids)

In [28]:
# 1st see how many different values are there in the Logged activities

df['LoggedActivitiesDistance'].value_counts()

0.000000    433
2.092147      4
2.253081      3
1.609344      1
5.189850      1
3.218688      1
4.869783      1
4.842320      1
4.875990      1
4.835720      1
4.836380      1
4.901283      1
0.055843      1
4.828032      1
5.456864      1
1.926302      1
3.972795      1
6.727057      1
2.027773      1
2.696455      1
Name: LoggedActivitiesDistance, dtype: int64

In [59]:
unlog = df.groupby(['Id','LoggedActivitiesDistance'])['LoggedActivitiesDistance'].count().sort_values(ascending = False) 

df_unlog = pd.DataFrame(unlog)


cols = []
count = 1
for column in df_unlog.columns:
    if column == 'LoggedActivitiesDistance':
        cols.append(f'LoggedActivitiesDistance_{count}')
        count+=1
        continue
    cols.append(column)
df_unlog.columns = cols

df_unlog

                                     LoggedActivitiesDistance_1
Id         LoggedActivitiesDistance
4020332650 0.000000                                          32
4057192912 0.000000                                          31
1503960366 0.000000                                          19
1624580081 0.000000                                          19
4702921684 0.000000                                          15
2347167796 0.000000                                          15
4445114986 0.000000                                          15
3977333714 0.000000                                          12
8792009665 0.000000                                          12
8253242879 0.000000                                          12
7086361926 0.000000                                          12
5553957443 0.000000                                          12
4558609924 0.000000                                          12
4319703577 0.000000                                          12
8877689391 0.000000                                          12
2022484408 0.000000                                          12
1844505072 0.000000                                          12
1927972279 0.000000                                          12
2873212765 0.000000                                          12
2320127002 0.000000                                          12
2026352035 0.000000                                          12
8053475328 0.000000                                          11
5577150313 0.000000                                          11
3372868164 0.000000                                          10
1644430081 0.000000                                          10
6962181067 0.000000                                          10
6290855005 0.000000                                          10
6117666160 0.000000                                          10
6775888955 0.000000                                           9
8583815059 0.000000                                           8
4388161847 0.000000                                           8
6391747486 0.000000                                           7
2891001357 0.000000                                           5
8378563200 0.000000                                           5
7007744171 0.000000                                           5
8378563200 2.092147                                           4
           2.253081                                           3
7007744171 4.901283                                           1
2891001357 3.218688                                           1
4057192912 0.055843                                           1
2891001357 1.609344                                           1
7007744171 5.189850                                           1
           4.842320                                           1
           4.875990                                           1
           4.869783                                           1
           4.836380                                           1
           4.835720                                           1
6962181067 5.456864                                           1
           3.972795                                           1
2891001357 4.828032                                           1
6962181067 1.926302                                           1
6391747486 6.727057                                           1
           2.027773                                           1
6962181067 2.696455                                           1

In [68]:
# let's check the number of Ids without log
# As from the previous data we can find that the least number of entries as 0 is 5

filt = (df_unlog.LoggedActivitiesDistance_1 > 4)

len(df_unlog.loc[filt])

35

In [67]:
# As we can see all the Ids atleast once did not log their activity so let's find out how many total unlog ids are there

# Now find out how many has the value as 0

filt = (df['LoggedActivitiesDistance'] == 0)


num = len(df.loc[filt, 'Id'])


print(f"Number of Ids have not logged their activity is: {num}")

Number of Ids have not logged their activity is: 433

#### 7. Find out who is the laziest person ID that we have in dataset.

In [69]:
df_active = df.groupby('Id')['total_active_mins'].sum().sort_values().reset_index()

# So the least active id is

filt = (df_active.total_active_mins == df_active.total_active_mins.min())

print("The least active id is:")
df_active.loc[filt]

The least active id is:

           Id  total_active_mins
0  2026352035               9942

In [28]:
# Let's also find the Id who was least active on any particular day

filt = (df['total_active_mins'] == df['total_active_mins'].min())

df[filt]

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,total_active_mins
18,1503960366,2016-04-12,224,0.14,0.14,0.0,0.0,0.0,0.13,0.0,0,0,9,32,50,41

#### 8 . Explore over internet that how much calories burn is required for a healthy person and find out how many healthy persons we have in our dataset.

In [87]:
# The calories needed to burn on an average per day to stay healthy is for Men= 2500Cal and Female= 2000 Cal
# As here we don't have a gender column so we will take the 2500 as our goal to stay healthy

healthy = (df['Calories'] >= 2500)

count = df.loc[healthy, 'Id'].count()

print(f"So number of healthy Ids on a day in this dataset are: {count}")

So number of healthy Ids on a day in this dataset are: 133

#### 9. How many person are not a regular person with respect to activity try to find out those.

In [88]:
# The starting date entered in the dataset is

df.ActivityDate.min()

Timestamp('2016-03-12 00:00:00')

In [89]:
# The last date entered in the dataset is

df.ActivityDate.max()

Timestamp('2016-04-12 00:00:00')

In [91]:
# To be considered as regular a person needed to use the app atleast 8 days (25%) as it is a 31 day dataset

start_date = df.groupby('Id')['ActivityDate'].min()   # to find each id's 1st date in the app
last_date = df.groupby('Id')['ActivityDate'].max()    # to find each id's latest date in the app

total_usage_days = last_date - start_date             # total usage days for each id

td = total_usage_days.sort_values(ascending = False)

df_td = td.reset_index()

df_td.index = df_td.index + 1

df_td.rename(columns={'ActivityDate' : 'Total_days'}, inplace=True)

df_td

            Id Total_days
1   4057192912    31 days
2   4020332650    31 days
3   1503960366    18 days
4   1624580081    18 days
5   2347167796    14 days
6   4702921684    14 days
7   4445114986    14 days
8   6962181067    13 days
9   2320127002    11 days
10  4558609924    11 days
11  8792009665    11 days
12  8378563200    11 days
13  8253242879    11 days
14  7086361926    11 days
15  7007744171    11 days
16  2026352035    11 days
17  5553957443    11 days
18  8877689391    11 days
19  1844505072    11 days
20  2022484408    11 days
21  2873212765    11 days
22  3977333714    11 days
23  1927972279    11 days
24  4319703577    11 days
25  8053475328    10 days
26  5577150313    10 days
27  6290855005     9 days
28  1644430081     9 days
29  6117666160     9 days
30  3372868164     9 days
31  6391747486     8 days
32  6775888955     8 days
33  2891001357     7 days
34  8583815059     7 days
35  4388161847     7 days

In [92]:
# Let's see the data types
df_td.dtypes

Id                      int64
Total_days    timedelta64[ns]
dtype: object

In [94]:
# changing the datatype to int

df_td['Total_days'] = df_td['Total_days'].dt.days.astype('int64')

In [95]:
# Let's see again the data types
df_td.dtypes

Id            int64
Total_days    int64
dtype: object

In [97]:
# Let's find the ids who have used the app less than 8 days

filt = (df_td['Total_days'] < 8)

print("So the irregular ids are:")
df_td.loc[filt, 'Id']

So the irregular ids are:

33    2891001357
34    8583815059
35    4388161847
Name: Id, dtype: int64

#### 10. Who is the third most active person in this dataset find out those in pandas and in sql both.

In [102]:
# sorting the dataset on the basis of total active mins used by each id in descending order

df_third = df.groupby('total_active_mins').max().sort_values(by='total_active_mins', ascending=False).reset_index()

df_third.index = df_third.index + 1

df_third.head(3)

,total_active_mins,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
1,1440,8877689391,2016-04-12,28497,27.530001,27.530001,6.727057,21.92,6.40,12.00,0.06,165,660,720,1440,4562
2,1427,6775888955,2016-04-01,7225,5.180000,5.180000,0.000000,1.73,1.27,2.18,0.00,25,50,163,1189,3065
3,1419,2347167796,2016-04-09,16081,10.630000,10.630000,0.000000,1.25,1.82,7.56,0.00,16,32,401,970,2488

In [104]:
print(f"So the third most active person in the dataset is: {df_third.loc[3, 'Id']}")

So the third most active person in the dataset is: 2347167796

#### 11. Who is the 5th most laziest person avilable in dataset find it out.

In [105]:
# sorting the dataset on the basis of total active mins used by each id in ascending order

df_fifth = df.groupby('total_active_mins').max().sort_values(by='total_active_mins').reset_index()

df_fifth.index = df_fifth.index + 1

df_fifth.head(5)

,total_active_mins,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
1,41,1503960366,2016-04-12,224,0.14,0.14,0.0,0.0,0.00,0.13,0.0,0,0,9,32,50
2,89,7086361926,2016-04-12,430,0.26,0.26,0.0,0.0,0.00,0.26,0.0,0,0,14,75,625
3,129,5553957443,2016-04-12,3436,2.24,2.24,0.0,0.5,0.67,1.05,0.0,7,11,50,61,633
4,164,1927972279,2016-04-12,24,0.02,0.02,0.0,0.0,0.00,0.02,0.0,0,0,3,161,942
5,198,6391747486,2016-04-09,0,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0,0,0,198,251

In [106]:
print(f"So the fifth most laziest person in the dataset is: {df_fifth.loc[5, 'Id']}")

So the fifth most laziest person in the dataset is: 6391747486

#### 12. What is a total acumulative calories burn for a person find out.

In [108]:
df_ac = df.groupby('Id')['Calories'].sum().sort_values(ascending=False).reset_index()

df_td = td

df_ac.index = df_ac.index + 1

df_ac.rename(columns={'Calories' : 'Accumulative calories'}, inplace=True)

df_ac

            Id  Accumulative calories
1   4020332650                  98412
2   4057192912                  60913
3   4702921684                  42322
4   8877689391                  41414
5   8378563200                  40274
6   5577150313                  36303
7   1503960366                  34128
8   8053475328                  31825
9   4445114986                  31617
10  7007744171                  31525
11  2347167796                  30320
12  2022484408                  29704
13  6962181067                  29249
14  1644430081                  29164
15  1927972279                  27048
16  7086361926                  26124
17  1624580081                  25705
18  8792009665                  24884
19  6775888955                  24523
20  4319703577                  23931
21  4558609924                  21962
22  6290855005                  21656
23  5553957443                  21630
24  6117666160                  20993
25  2873212765                  20349
26  1844505072                  19391
27  8583815059                  19130
28  3372868164                  18603
29  2320127002                  18385
30  2891001357                  18187
31  8253242879                  17556
32  3977333714                  16777
33  2026352035                  16266
34  6391747486                  15868
35  4388161847                  14442

## Task 2 - Superstore_USA dataset:

In [1]:
# import the libraries

import pandas as pd
import mysql.connector as conn
from mysql.connector import Error
from sqlalchemy import create_engine

#### 1. Load this data in sql and in pandas with a relation in sql.(Create Primary key, Foreign key)

#### 2. While loading this data you don't have to create a table manually you can use any automated approach to create a table and load a data in bulk in table.

##### Loading datasets in pandas:

In [2]:
# creating dataframe of 1st sheet

df_order = pd.read_excel('dataset/Superstore_USA.xlsx','Orders')
pd.set_option('display.max_columns', None)

df_order.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,Labels,Small Box,Avery 49,0.36,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Pens & Art Supplies,Wrap Bag,SANFORD Liquid Accent™ Tank-Style Highlighters,0.54,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 1968,0.37,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Small Pack,Acme® Preferred Stainless Steel Scissors,0.56,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,Telephones and Communication,Small Box,V70,0.59,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523

In [3]:
# creating dataframe of 2nd sheet

df_return = pd.read_excel('dataset/Superstore_USA.xlsx','Returns')

df_return.head()

   Order ID    Status
0        65  Returned
1       612  Returned
2       614  Returned
3       678  Returned
4       710  Returned

In [4]:
# creating dataframe of 3rd sheet

df_users = pd.read_excel('dataset/Superstore_USA.xlsx','Users')

df_users.head()

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

##### Loading datasets in MySQL:

In [5]:
# Creating functions for MySQL

# Server connection
def create_server_connection(host_name, user_name, user_pwd):
    connection = None
    try:
        connection = conn.connect(host=host_name, user=user_name, passwd=user_pwd)

        print("Connection to MySQL is successful.")

    except Error as err:
        print(f"Error is: {err}")

    else:
        return connection
    

    
# Creating database
def create_database(connection, query):
    cursor = connection.cursor()

    try:
        cursor.execute(query)
        print("Database created successfully")

    except Error as err:
        print(f"Error is: {err}")
        

        
# Connecting to the database
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = conn.connect(host=host_name, user=user_name, passwd=user_password, database=db_name)
        print("Connected to the Database Successfully")

    except Error as err:
        print(f"Error is: {err}")

    else:
        return connection
 


    
# Executing query
def execute_query(connection, query):
    cursor = connection.cursor()

    try:
        cursor.execute(query)
        connection.commit()
        print("Query execution was successful")

    except Error as err:
        print(f"Error is: {err}")
        

        
        
# Showing query results
def read_query(connection, query):
    cursor = connection.cursor()
    result = None

    try:
        cursor.execute(query)
        result = cursor.fetchall()
        print("Query reading was successful")

    except Error as err:
        print(f"Error: {err}")

    else:
        return result

In [6]:
# Connection with MySQL

host = "localhost"
user = "root"
pw = "Password"

connection = create_server_connection(host, user, pw)

Connection to MySQL is successful.

In [7]:
# Creating the database

query = "CREATE DATABASE IF NOT EXISTS panda_exercise"
create_database(connection, query)

Database created successfully

In [8]:
# Connecting with the database

db = "panda_exercise"

db_connection = create_db_connection(host, user, pw, db)

Connected to the Database Successfully

In [9]:
# Creating table and inserting data from the 1st dataframe

engine = create_engine("mysql+pymysql://root:Password@localhost:3306/panda_exercise")


try:
    df_order.to_sql(name='orders', con=engine, index=False, if_exists='replace')
except Exception as e:
    print("Error is: ", e)
else:
    print("Query is Successful")

Query is Successful

In [10]:
# Creating table and inserting data from the 2nd dataframe

engine = create_engine("mysql+pymysql://root:Password@localhost:3306/panda_exercise")


try:
    df_return.to_sql(name='returns', con=engine, index=False, if_exists='replace')
except Exception as e:
    print("Error is: ", e)
else:
    print("Query is Successful")

Query is Successful

In [11]:
# Creating table and inserting data from the 3rd dataframe

engine = create_engine("mysql+pymysql://root:Password@localhost:3306/panda_exercise")


try:
    df_users.to_sql(name='users', con=engine, index=False, if_exists='replace')
except Exception as e:
    print("Error is: ", e)
else:
    print("Query is Successful")

Query is Successful

In [15]:
# Now creating the primary key for returns table

query = "ALTER TABLE `returns` ADD PRIMARY KEY(`Order ID`);"
execute_query(db_connection, query)

Query execution was successful

In [17]:
# Now creating the primary key for users table

query = "ALTER TABLE users ADD PRIMARY KEY(Region);"
execute_query(db_connection, query)

Query execution was successful

In [20]:
# Now creating the foreign keys for orders table with reference to users table

query = "ALTER TABLE orders ADD FOREIGN KEY(Region) REFERENCES users(Region);"
execute_query(db_connection, query)

Query execution was successful

In [21]:
# Now creating the foreign keys for orders table with reference to returns table

query = "ALTER TABLE orders ADD FOREIGN KEY(`Order ID`) REFERENCES `returns`(`Order ID`);"
execute_query(db_connection, query)

Error is: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`panda_exercise`.`#sql-11f4_11d`, CONSTRAINT `orders_ibfk_2` FOREIGN KEY (`Order ID`) REFERENCES `returns` (`Order ID`))

- As we can see ERROR 1452 (23000) is generated because some current values in child column Order ID of the referencing table orders are not in the parent column Order ID of the referenced table returns.

- `select * from orders where Order ID not in (select distinct Order ID from returns);`

- Using the above subquery we can retrieve all the legal parent values of Order ID from the referenced table returns as the filter, and select all the child values of Order ID that are not in the legal parent values from the referencing table orders. Then we can delete them or update them in order to comply with the coming constraint.

- But this will disturb the dataset so did not take the route. Also it is not mandatory to create Primary and Foreign key to perform Join on tables.

- Because a primary key enforces the consistency of uniqueness of values over one or more columns. If an ID column has a primary key then it is impossible to have two rows with the same ID value. And a foreign key enforces the consistency of data that points elsewhere. It ensures that the data which is pointed to actually exists. In a typical parent-child relationship, a foreign key ensures that every child always points at a parent and that the parent actually exists.

#### 3. Find out how many return that we have recived and with a product id.

In [5]:
num = len(pd.merge(df_order, df_return, left_on='Order ID', right_on='Order ID', how='inner'))

print(f"The number of items returned with product id received is: {num}")

The number of items returned with product id received is: 98

#### 4. Try to join order and return data both in sql and pandas.

##### In MySQL:

In [28]:
# query
query = "SELECT o.*, r.status FROM orders o join `returns` r on o.`Order ID` = r.`Order ID`;"

# calling the function to get result
results = read_query(db_connection, query)

# collecting the result from the database
from_db = []

for result in results:
    result = list(result)
    from_db.append(result)
    
# creating column names
cols = ['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',\
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',\
       'Product Category', 'Product Sub-Category', 'Product Container',\
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',\
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',\
       'Quantity ordered new', 'Sales', 'Order ID', 'Status']

# creating dataframe of the result
df1 = pd.DataFrame(from_db, columns = cols)
display(df1)

Query reading was successful

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status
0,1359,Low,0.05,5.85,2.27,21,Tony Wilkins Winters,Regular Air,Small Business,Office Supplies,Pens & Art Supplies,Wrap Bag,"Dixon My First Ticonderoga Pencil, #2",0.56,East,New York,New York City,10012,2011-04-20,2011-04-24,-6.8200,9,54.79,9895,Returned
1,1950,Medium,0.01,4.91,0.50,117,Linda Weiss,Regular Air,Home Office,Office Supplies,Labels,Small Box,Avery 493,0.36,West,Washington,Seattle,98103,2010-04-04,2010-04-06,112.0600,47,228.46,13959,Returned
2,1951,Medium,0.09,4.00,1.30,117,Linda Weiss,Express Air,Home Office,Office Supplies,Paper,Wrap Bag,EcoTones® Memo Sheets,0.37,West,Washington,Seattle,98103,2010-04-04,2010-04-06,16.7900,19,77.61,13959,Returned
3,5055,High,0.02,3.28,5.00,117,Linda Weiss,Regular Air,Home Office,Office Supplies,Pens & Art Supplies,Wrap Bag,Newell 35,0.56,West,Washington,Seattle,98103,2013-08-16,2013-08-18,-89.0600,52,190.52,36038,Returned
4,5573,Low,0.02,11.97,5.81,272,Eleanor Swain,Regular Air,Small Business,Office Supplies,Pens & Art Supplies,Small Pack,Staples SlimLine Pencil Sharpener,0.60,South,North Carolina,Charlotte,28204,2013-08-12,2013-08-12,-81.9413,76,912.06,39490,Returned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,986,Not Specified,0.06,37.94,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,Paper,Wrap Bag,Snap-A-Way® Black Print Carbonless Ruled Speed...,0.38,West,California,Los Angeles,90061,2013-01-04,2013-01-06,-33.9680,3,113.14,7107,Returned
94,987,Not Specified,0.10,55.29,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,Storage & Organization,Small Box,Recycled Steel Personal File for Standard File...,0.59,West,California,Los Angeles,90061,2013-01-04,2013-01-05,163.1200,35,1886.52,7107,Returned
95,6041,Medium,0.05,4.28,6.18,3075,Gordon Brandt,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 1980,0.40,West,California,Los Angeles,90061,2013-06-25,2013-06-27,-22.5600,12,73.71,42823,Returned
96,1910,High,0.05,14.48,1.99,3079,Andrew Levine,Regular Air,Consumer,Technology,Computer Peripherals,Small Pack,TDK 4.7GB DVD+RW,0.49,East,Pennsylvania,Philadelphia,19112,2012-09-30,2012-10-02,165.2000,96,1337.67,13638,Returned
97,6625,High,0.06,128.24,12.65,3251,Peter Brooks,Regular Air,Small Business,Furniture,Chairs & Chairmats,Medium Box,SAFCO Folding Chair Trolley,NaN,East,New York,New York City,10112,2012-09-11,2012-09-13,1844.9600,92,12002.16,47109,Returned

##### In Pandas:

In [6]:
pd.merge(df_order, df_return, on=['Order ID'])

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status
0,1359,Low,0.05,5.85,2.27,21,Tony Wilkins Winters,Regular Air,Small Business,Office Supplies,Pens & Art Supplies,Wrap Bag,"Dixon My First Ticonderoga Pencil, #2",0.56,East,New York,New York City,10012,2011-04-20,2011-04-24,-6.8200,9,54.79,9895,Returned
1,1950,Medium,0.01,4.91,0.50,117,Linda Weiss,Regular Air,Home Office,Office Supplies,Labels,Small Box,Avery 493,0.36,West,Washington,Seattle,98103,2010-04-04,2010-04-06,112.0600,47,228.46,13959,Returned
2,1951,Medium,0.09,4.00,1.30,117,Linda Weiss,Express Air,Home Office,Office Supplies,Paper,Wrap Bag,EcoTones® Memo Sheets,0.37,West,Washington,Seattle,98103,2010-04-04,2010-04-06,16.7900,19,77.61,13959,Returned
3,5055,High,0.02,3.28,5.00,117,Linda Weiss,Regular Air,Home Office,Office Supplies,Pens & Art Supplies,Wrap Bag,Newell 35,0.56,West,Washington,Seattle,98103,2013-08-16,2013-08-18,-89.0600,52,190.52,36038,Returned
4,5573,Low,0.02,11.97,5.81,272,Eleanor Swain,Regular Air,Small Business,Office Supplies,Pens & Art Supplies,Small Pack,Staples SlimLine Pencil Sharpener,0.60,South,North Carolina,Charlotte,28204,2013-08-12,2013-08-12,-81.9413,76,912.06,39490,Returned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,986,Not Specified,0.06,37.94,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,Paper,Wrap Bag,Snap-A-Way® Black Print Carbonless Ruled Speed...,0.38,West,California,Los Angeles,90061,2013-01-04,2013-01-06,-33.9680,3,113.14,7107,Returned
94,987,Not Specified,0.10,55.29,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,Storage & Organization,Small Box,Recycled Steel Personal File for Standard File...,0.59,West,California,Los Angeles,90061,2013-01-04,2013-01-05,163.1200,35,1886.52,7107,Returned
95,6041,Medium,0.05,4.28,6.18,3075,Gordon Brandt,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 1980,0.40,West,California,Los Angeles,90061,2013-06-25,2013-06-27,-22.5600,12,73.71,42823,Returned
96,1910,High,0.05,14.48,1.99,3079,Andrew Levine,Regular Air,Consumer,Technology,Computer Peripherals,Small Pack,TDK 4.7GB DVD+RW,0.49,East,Pennsylvania,Philadelphia,19112,2012-09-30,2012-10-02,165.2000,96,1337.67,13638,Returned
97,6625,High,0.06,128.24,12.65,3251,Peter Brooks,Regular Air,Small Business,Furniture,Chairs & Chairmats,Medium Box,SAFCO Folding Chair Trolley,NaN,East,New York,New York City,10112,2012-09-11,2012-09-13,1844.9600,92,12002.16,47109,Returned

#### 5. Try to find out how many unique customers that we have.

In [7]:
num = len(df_order['Customer Name'].unique())

print(f"The number of unique customers are: {num}")

The number of unique customers are: 2703

#### 6. Try to find out in how many regions we are selling a product and who is a manager for each respective regions.

In [8]:
# 1st merge the data from 2 tables

df = pd.merge(df_order, df_users, left_on='Region', right_on='Region', how='inner')

df.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Manager
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,Labels,Small Box,Avery 49,0.36,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525,Chris
1,24844,Medium,0.09,78.69,19.99,14,Gwendolyn F Tyson,Regular Air,Small Business,Furniture,Office Furnishings,Small Box,Howard Miller 12-3/4 Diameter Accuwave DS ™ Wa...,0.43,Central,Minnesota,Prior Lake,55372,2010-05-12,2010-05-14,803.4705,16,1164.45,86838,Chris
2,24846,Medium,0.08,3.28,2.31,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,Pens & Art Supplies,Wrap Bag,Newell 321,0.56,Central,Minnesota,Prior Lake,55372,2010-05-12,2010-05-13,-24.0300,7,22.23,86838,Chris
3,24847,Medium,0.05,3.28,4.20,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,Pens & Art Supplies,Wrap Bag,Newell 351,0.56,Central,Minnesota,Prior Lake,55372,2010-05-12,2010-05-13,-37.0300,4,13.99,86838,Chris
4,24848,Medium,0.05,3.58,1.63,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,Rubber Bands,Wrap Bag,"OIC Colored Binder Clips, Assorted Sizes",0.36,Central,Minnesota,Prior Lake,55372,2010-05-12,2010-05-13,-0.7100,4,14.26,86838,Chris

In [9]:
# Total number of products per region

df.groupby(['Region'])['Product Category'].count()

Region
Central    2899
East       2289
South      1954
West       2284
Name: Product Category, dtype: int64

In [10]:
# Number of products productwise and region wise

df.groupby(['Product Category', 'Region'])['Region'].count()

Product Category  Region
Furniture         Central     623
                  East        479
                  South       370
                  West        461
Office Supplies   Central    1559
                  East       1272
                  South      1099
                  West       1251
Technology        Central     717
                  East        538
                  South       485
                  West        572
Name: Region, dtype: int64

In [11]:
# Respective managers along with region and products and their numbers

df.groupby(['Manager', 'Region', 'Product Category'])['Region'].count()

Manager  Region   Product Category
Chris    Central  Furniture            623
                  Office Supplies     1559
                  Technology           717
Erin     East     Furniture            479
                  Office Supplies     1272
                  Technology           538
Sam      South    Furniture            370
                  Office Supplies     1099
                  Technology           485
William  West     Furniture            461
                  Office Supplies     1251
                  Technology           572
Name: Region, dtype: int64

#### 7. Find out how many different shipement modes that we have and what is a percentage usablity of all the shipment mode with respect to the dataset.

In [12]:
# checking how many modes are there

df_order['Ship Mode'].unique()

array(['Regular Air', 'Express Air', 'Delivery Truck'], dtype=object)

In [13]:
# counting rows of each mode

df_order['Ship Mode'].value_counts()

Regular Air       7036
Delivery Truck    1283
Express Air       1107
Name: Ship Mode, dtype: int64

In [14]:
# total number of rows in dataset

len(df_order)

9426

In [15]:
# creating function to calculate percentage
def percentage(op_mode):
    total = len(df_order)
    per = (op_mode / total) * 100
    return per


# creating filter for each mode
Reg_air = (df_order['Ship Mode'] == 'Regular Air')
Del_trk = (df_order['Ship Mode'] == 'Delivery Truck')
Exp_air = (df_order['Ship Mode'] == 'Express Air')

# Number of rows for each mode
reg_air = len(df_order.loc[Reg_air])
del_trk = len(df_order.loc[Del_trk])
exp_air = len(df_order.loc[Exp_air])


print(f"Percentage usability of Regular Air mode is: {percentage(reg_air):.2f}%")
print(f"Percentage usability of Delivery Truck mode is: {percentage(del_trk):.2f}%")
print(f"Percentage usability of Express Air mode is: {percentage(exp_air):.2f}%")

Percentage usability of Regular Air mode is: 74.64%
Percentage usability of Delivery Truck mode is: 13.61%
Percentage usability of Express Air mode is: 11.74%

#### 8. Create a new coulmn and try to find out a diffrence between order date and shipment date.

In [16]:
# creating new column

df_order['Date_diff'] = df_order['Ship Date'] - df_order['Order Date']

df_order.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Date_diff
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,Labels,Small Box,Avery 49,0.36,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525,2 days
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Pens & Art Supplies,Wrap Bag,SANFORD Liquid Accent™ Tank-Style Highlighters,0.54,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522,1 days
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 1968,0.37,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523,1 days
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Small Pack,Acme® Preferred Stainless Steel Scissors,0.56,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523,1 days
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,Telephones and Communication,Small Box,V70,0.59,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523,0 days

#### 9. Based on question number 8 find out for which order id we have shipment duration more than 10 days.

In [17]:
# 1st changing the datatype to int

df_order['Date_diff'] = df_order['Date_diff'].dt.days.astype('int64')

In [18]:
# Now creating the filter and checking the dataset

filt = df_order['Date_diff'] > 10

df_order.loc[filt]

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Date_diff
643,18246,Critical,0.05,11.09,5.25,250,Brenda Nelson Blanchard,Regular Air,Corporate,Office Supplies,Envelopes,Small Box,#10 Self-Seal White Envelopes,0.36,Central,Minnesota,Richfield,55423,2011-12-29,2012-03-22,58.5000,19,204.67,87215,84
1548,23091,Medium,0.04,100.98,7.18,595,Dana Desai,Regular Air,Small Business,Technology,Computer Peripherals,Small Box,Logitech Cordless Elite Duo,0.40,Central,Indiana,Bloomington,47401,2011-12-30,2012-01-10,375.7050,6,587.46,86318,11
1549,23092,Medium,0.09,6.48,7.49,595,Dana Desai,Express Air,Small Business,Office Supplies,Paper,Small Box,Xerox 220,0.37,Central,Indiana,Bloomington,47401,2011-12-30,2012-01-14,-47.3950,12,79.37,86318,15
1678,20703,Not Specified,0.07,130.98,30.00,637,Christopher Bryant,Delivery Truck,Consumer,Furniture,Chairs & Chairmats,Jumbo Drum,Office Star - Contemporary Task Swivel chair w...,0.78,West,California,Santa Clara,95051,2011-12-30,2012-01-16,-211.8850,21,2699.94,87957,17
1679,20704,Not Specified,0.09,55.98,4.86,637,Christopher Bryant,Regular Air,Consumer,Office Supplies,Paper,Small Box,Xerox 1908,0.36,West,California,Santa Clara,95051,2011-12-30,2012-01-10,355.0119,10,514.51,87957,11
1680,20705,Not Specified,0.08,115.99,4.23,637,Christopher Bryant,Regular Air,Consumer,Technology,Telephones and Communication,Small Box,282,0.56,West,California,Santa Clara,95051,2011-12-30,2012-01-27,1021.4001,16,1480.29,87957,28
1697,2703,Not Specified,0.07,130.98,30.00,640,Neal Wolfe,Delivery Truck,Consumer,Furniture,Chairs & Chairmats,Jumbo Drum,Office Star - Contemporary Task Swivel chair w...,0.78,West,Washington,Seattle,98119,2011-12-30,2012-01-16,-423.7700,83,10671.20,19556,17
1698,2704,Not Specified,0.09,55.98,4.86,640,Neal Wolfe,Regular Air,Consumer,Office Supplies,Paper,Small Box,Xerox 1908,0.36,West,Washington,Seattle,98119,2011-12-30,2012-01-10,469.6900,41,2109.51,19556,11
1699,2705,Not Specified,0.08,115.99,4.23,640,Neal Wolfe,Regular Air,Consumer,Technology,Telephones and Communication,Small Box,282,0.56,West,Washington,Seattle,98119,2011-12-30,2012-01-27,727.3620,65,6013.69,19556,28
2515,18060,Low,0.02,2.21,1.00,964,Virginia Rivera,Regular Air,Home Office,Office Supplies,Pens & Art Supplies,Wrap Bag,"Quartet Alpha® White Chalk, 12/Pack",0.38,West,California,Redwood City,94061,2011-12-30,2012-03-31,5.8200,10,22.35,86177,92
5548,21603,Not Specified,0.02,5.58,1.99,2048,Ricky Dougherty,Regular Air,Consumer,Office Supplies,Pens & Art Supplies,Wrap Bag,DIXON Ticonderoga® Erasable Checking Pencils,0.46,Central,South Dakota,Brookings,57006,2011-12-30,2012-01-13,66.2250,21,121.51,88223,14
5673,19005,Low,0.06,65.99,2.50,2088,Carrie Boyle,Regular Air,Corporate,Technology,Telephones and Communication,Small Box,6000,0.55,East,New York,Mount Vernon,10550,2011-12-28,2012-01-14,187.4880,8,451.34,88352,17
5859,24392,Low,0.05,29.89,1.99,2143,Lester Sawyer,Regular Air,Home Office,Technology,Computer Peripherals,Small Pack,"Verbatim DVD-RAM, 5.2GB, Rewritable, Type 1, DS",0.50,South,Virginia,Fairfax,20151,2011-12-26,2012-01-17,4230.2001,12,344.16,87572,22
5881,21257,Low,0.05,7.99,5.03,2153,Anna Glenn,Regular Air,Home Office,Technology,Telephones and Communication,Medium Box,Bell Sonecor JB700 Caller ID,0.60,West,California,Pasadena,91104,2011-12-26,2012-01-19,-23.4520,2,15.56,91294,24
8607,26351,Medium,0.00,8.32,2.38,3119,Jay Hubbard,Express Air,Corporate,Technology,Computer Peripherals,Small Pack,"Imation 3.5 IBM Formatted Diskettes, 10/Box",0.74,South,Florida,Orlando,32839,2011-12-29,2012-01-16,-1075.3960,19,170.62,86434,18
8609,26350,Medium,0.07,180.98,55.24,3119,Jay Hubbard,Delivery Truck,Corporate,Office Supplies,Appliances,Jumbo Drum,Avanti 4.4 Cu. Ft. Refrigerator,0.57,South,Florida,Orlando,32839,2013-12-29,2014-01-15,-147.5180,25,4529.95,86436,17
8610,26352,Medium,0.06,4.20,2.26,3119,Jay Hubbard,Regular Air,Corporate,Office Supplies,Paper,Wrap Bag,"Important Message Pads, 50 4-1/4 x 5-1/2 Forms...",0.36,South,Florida,Orlando,32839,2013-12-29,2014-01-17,-689.8738,2,9.64,86436,19
8973,20750,Low,0.06,125.99,8.08,3248,Earl Donnelly,Express Air,Corporate,Technology,Telephones and Communication,Small Box,M3682,0.57,South,Louisiana,Slidell,70458,2011-12-26,2012-01-14,2.4780,20,2180.31,87300,19
8982,2748,Low,0.03,11.97,5.81,3251,Peter Brooks,Regular Air,Corporate,Office Supplies,Pens & Art Supplies,Small Pack,Staples SlimLine Pencil Sharpener,0.60,East,New York,New York City,10112,2011-12-26,2012-01-22,-31.7400,31,388.52,19841,27
8983,2749,Low,0.08,195.99,4.20,3251,Peter Brooks,Regular Air,Corporate,Technology,Telephones and Communication,Small Box,688,0.60,East,New York,New York City,10112,2011-12-26,2012-01-26,-557.9530,13,2092.05,19841,31
8993,2750,Low,0.06,125.99,8.08,3251,Peter Brooks,Express Air,Corporate,Technology,Telephones and Communication,Small Box,M3682,0.57,East,New York,New York City,10112,2013-12-26,2014-01-14,1304.5590,86,9375.35,19841,19
8996,20748,Low,0.03,11.97,5.81,3252,Milton Harrell,Regular Air,Corporate,Office Supplies,Pens & Art Supplies,Small Pack,Staples SlimLine Pencil Sharpener,0.60,East,New York,Rotterdam,12306,2011-12-26,2012-01-22,-15.8700,8,100.26,87300,27
8997,20749,Low,0.08,195.99,4.20,3252,Milton Harrell,Regular Air,Corporate,Technology,Telephones and Communication,Small Box,688,0.60,East,New York,Rotterdam,12306,2011-12-26,2012-01-26,-278.9765,3,482.78,87300,31

#### 10. Try to find out a list of returned order where sihpment duration was more than 15 days and find out that region manager as well.

In [21]:
# creating dataframe merging the order and return dataset

df1 = pd.merge(df_order, df_return, on=['Order ID'])

df1.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Date_diff,Status
0,1359,Low,0.05,5.85,2.27,21,Tony Wilkins Winters,Regular Air,Small Business,Office Supplies,Pens & Art Supplies,Wrap Bag,"Dixon My First Ticonderoga Pencil, #2",0.56,East,New York,New York City,10012,2011-04-20,2011-04-24,-6.8200,9,54.79,9895,4,Returned
1,1950,Medium,0.01,4.91,0.50,117,Linda Weiss,Regular Air,Home Office,Office Supplies,Labels,Small Box,Avery 493,0.36,West,Washington,Seattle,98103,2010-04-04,2010-04-06,112.0600,47,228.46,13959,2,Returned
2,1951,Medium,0.09,4.00,1.30,117,Linda Weiss,Express Air,Home Office,Office Supplies,Paper,Wrap Bag,EcoTones® Memo Sheets,0.37,West,Washington,Seattle,98103,2010-04-04,2010-04-06,16.7900,19,77.61,13959,2,Returned
3,5055,High,0.02,3.28,5.00,117,Linda Weiss,Regular Air,Home Office,Office Supplies,Pens & Art Supplies,Wrap Bag,Newell 35,0.56,West,Washington,Seattle,98103,2013-08-16,2013-08-18,-89.0600,52,190.52,36038,2,Returned
4,5573,Low,0.02,11.97,5.81,272,Eleanor Swain,Regular Air,Small Business,Office Supplies,Pens & Art Supplies,Small Pack,Staples SlimLine Pencil Sharpener,0.60,South,North Carolina,Charlotte,28204,2013-08-12,2013-08-12,-81.9413,76,912.06,39490,0,Returned

In [22]:
# creating dataframe merging the order and users dataset

df2 = pd.merge(df_order, df_users, on=['Region'])

df2.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Date_diff,Manager
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,Labels,Small Box,Avery 49,0.36,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525,2,Chris
1,24844,Medium,0.09,78.69,19.99,14,Gwendolyn F Tyson,Regular Air,Small Business,Furniture,Office Furnishings,Small Box,Howard Miller 12-3/4 Diameter Accuwave DS ™ Wa...,0.43,Central,Minnesota,Prior Lake,55372,2010-05-12,2010-05-14,803.4705,16,1164.45,86838,2,Chris
2,24846,Medium,0.08,3.28,2.31,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,Pens & Art Supplies,Wrap Bag,Newell 321,0.56,Central,Minnesota,Prior Lake,55372,2010-05-12,2010-05-13,-24.0300,7,22.23,86838,1,Chris
3,24847,Medium,0.05,3.28,4.20,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,Pens & Art Supplies,Wrap Bag,Newell 351,0.56,Central,Minnesota,Prior Lake,55372,2010-05-12,2010-05-13,-37.0300,4,13.99,86838,1,Chris
4,24848,Medium,0.05,3.58,1.63,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,Rubber Bands,Wrap Bag,"OIC Colored Binder Clips, Assorted Sizes",0.36,Central,Minnesota,Prior Lake,55372,2010-05-12,2010-05-13,-0.7100,4,14.26,86838,1,Chris

In [23]:
# Now mergin these 2 dataframes

df = pd.merge(df1, df2)

df

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Date_diff,Status,Manager
0,1359,Low,0.05,5.85,2.27,21,Tony Wilkins Winters,Regular Air,Small Business,Office Supplies,Pens & Art Supplies,Wrap Bag,"Dixon My First Ticonderoga Pencil, #2",0.56,East,New York,New York City,10012,2011-04-20,2011-04-24,-6.8200,9,54.79,9895,4,Returned,Erin
1,1950,Medium,0.01,4.91,0.50,117,Linda Weiss,Regular Air,Home Office,Office Supplies,Labels,Small Box,Avery 493,0.36,West,Washington,Seattle,98103,2010-04-04,2010-04-06,112.0600,47,228.46,13959,2,Returned,William
2,1951,Medium,0.09,4.00,1.30,117,Linda Weiss,Express Air,Home Office,Office Supplies,Paper,Wrap Bag,EcoTones® Memo Sheets,0.37,West,Washington,Seattle,98103,2010-04-04,2010-04-06,16.7900,19,77.61,13959,2,Returned,William
3,5055,High,0.02,3.28,5.00,117,Linda Weiss,Regular Air,Home Office,Office Supplies,Pens & Art Supplies,Wrap Bag,Newell 35,0.56,West,Washington,Seattle,98103,2013-08-16,2013-08-18,-89.0600,52,190.52,36038,2,Returned,William
4,5573,Low,0.02,11.97,5.81,272,Eleanor Swain,Regular Air,Small Business,Office Supplies,Pens & Art Supplies,Small Pack,Staples SlimLine Pencil Sharpener,0.60,South,North Carolina,Charlotte,28204,2013-08-12,2013-08-12,-81.9413,76,912.06,39490,0,Returned,Sam
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,986,Not Specified,0.06,37.94,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,Paper,Wrap Bag,Snap-A-Way® Black Print Carbonless Ruled Speed...,0.38,West,California,Los Angeles,90061,2013-01-04,2013-01-06,-33.9680,3,113.14,7107,2,Returned,William
94,987,Not Specified,0.10,55.29,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,Storage & Organization,Small Box,Recycled Steel Personal File for Standard File...,0.59,West,California,Los Angeles,90061,2013-01-04,2013-01-05,163.1200,35,1886.52,7107,1,Returned,William
95,6041,Medium,0.05,4.28,6.18,3075,Gordon Brandt,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 1980,0.40,West,California,Los Angeles,90061,2013-06-25,2013-06-27,-22.5600,12,73.71,42823,2,Returned,William
96,1910,High,0.05,14.48,1.99,3079,Andrew Levine,Regular Air,Consumer,Technology,Computer Peripherals,Small Pack,TDK 4.7GB DVD+RW,0.49,East,Pennsylvania,Philadelphia,19112,2012-09-30,2012-10-02,165.2000,96,1337.67,13638,2,Returned,Erin
97,6625,High,0.06,128.24,12.65,3251,Peter Brooks,Regular Air,Small Business,Furniture,Chairs & Chairmats,Medium Box,SAFCO Folding Chair Trolley,NaN,East,New York,New York City,10112,2012-09-11,2012-09-13,1844.9600,92,12002.16,47109,2,Returned,Erin

In [31]:
filt = df['Date_diff'] > 15

len(df.loc[filt])

0

**So there is no returned order after a duration of 15 days.**

In [32]:
# watching the df with only the required columns

df[['Order ID', 'Status', 'Date_diff', 'Manager']]

    Order ID    Status  Date_diff  Manager
0       9895  Returned          4     Erin
1      13959  Returned          2  William
2      13959  Returned          2  William
3      36038  Returned          2  William
4      39490  Returned          0      Sam
..       ...       ...        ...      ...
93      7107  Returned          2  William
94      7107  Returned          1  William
95     42823  Returned          2  William
96     13638  Returned          2     Erin
97     47109  Returned          2     Erin

[98 rows x 4 columns]

#### 11. Gorup by region and find out which region is more profitable.

In [35]:
df_profit = df_order.groupby('Region')['Profit'].sum().sort_values(ascending = False).reset_index()

df_profit.rename(columns={'Profit' : 'Total_profit'}, inplace=True)

df_profit

    Region   Total_profit
0  Central  519825.567067
1     East  377566.186045
2     West  310849.453897
3    South  104201.192420

In [37]:
# So most profitable region is:

filt = (df_profit.Total_profit == df_profit.Total_profit.max())

df_profit.loc[filt]

    Region   Total_profit
0  Central  519825.567067

#### 12. Try to find out overall in which country we are giving more discount.

In [38]:
# There is no Country column instead we have State or Province

df_dsc = df_order.groupby('State or Province')['Discount'].sum().sort_values(ascending = False).reset_index()

df_dsc.rename(columns={'Discount' : 'Total_discount'}, inplace=True)

df_dsc

       State or Province  Total_discount
0             California           52.28
1                  Texas           31.36
2               Illinois           29.71
3               New York           28.86
4                Florida           26.38
5                   Ohio           19.71
6             Washington           15.48
7               Michigan           15.29
8           Pennsylvania           13.32
9              Minnesota           12.52
10               Indiana           12.22
11        North Carolina           12.02
12         Massachusetts           11.22
13              Virginia            9.80
14               Georgia            9.79
15              Maryland            8.85
16            New Jersey            8.73
17             Tennessee            8.55
18                Oregon            8.42
19              Missouri            8.09
20             Wisconsin            8.06
21              Colorado            8.05
22                  Utah            7.67
23                  Iowa            7.15
24                Kansas            6.89
25               Arizona            6.86
26                 Maine            6.66
27               Alabama            5.87
28              Arkansas            5.80
29                 Idaho            5.57
30        South Carolina            5.34
31              Oklahoma            5.17
32             Louisiana            4.86
33           Connecticut            4.28
34              Kentucky            4.23
35            New Mexico            4.08
36           Mississippi            3.89
37              Nebraska            3.59
38               Vermont            3.19
39  District of Columbia            3.10
40         New Hampshire            2.62
41               Montana            2.39
42         West Virginia            2.16
43                Nevada            1.80
44          North Dakota            1.71
45          South Dakota            1.30
46               Wyoming            1.15
47          Rhode Island            1.09
48              Delaware            0.66

In [40]:
# So highest discounted region is:

filt = (df_dsc.Total_discount == df_dsc.Total_discount.max())

df_dsc.loc[filt]

  State or Province  Total_discount
0        California           52.28

#### 13. Give me a list of unique postal codes.

In [41]:
unq_post = df_order['Postal Code'].unique()

print(list(unq_post))

[60101, 98221, 91776, 95123, 2724, 3110, 8101, 8109, 7203, 2907, 55372, 11787, 13210, 59405, 59601, 59801, 68005, 10012, 92653, 92677, 92530, 92630, 90712, 93534, 90260, 97405, 97526, 97030, 97123, 97303, 62002, 98373, 98052, 75019, 23834, 62701, 60107, 60477, 14150, 12180, 77642, 75080, 77471, 78664, 75088, 24153, 94043, 92563, 94559, 10177, 2917, 5401, 4070, 2331, 8830, 8701, 7470, 7481, 5201, 97035, 44708, 45231, 44105, 95687, 5451, 94591, 70056, 22102, 60601, 66209, 66215, 66502, 66062, 6510, 4401, 4005, 2129, 2038, 1852, 1752, 2067, 3820, 8618, 7644, 7110, 8861, 7095, 2895, 97128, 97504, 98103, 84118, 84041, 93277, 76903, 78207, 60004, 94952, 1510, 1106, 1880, 6401, 6360, 2664, 15122, 76148, 5439, 5403, 37664, 37918, 37086, 37087, 80525, 80817, 60452, 76131, 98059, 99352, 37804, 70802, 4092, 7024, 76240, 98158, 78415, 94122, 4011, 4240, 2474, 2540, 1580, 3038, 60505, 84043, 84321, 66212, 48138, 85335, 74006, 75217, 77536, 90660, 13501, 11580, 63114, 84044, 84047, 84107, 60453, 2021, 2766, 7101, 28227, 60302, 60462, 50208, 80027, 66203, 81503, 80634, 37922, 38109, 55423, 55901, 55113, 80126, 80232, 17331, 33772, 87505, 12208, 44106, 43229, 78589, 86001, 85234, 85301, 30297, 28204, 6824, 6111, 6226, 7109, 66614, 67212, 80538, 80233, 80134, 6830, 6770, 6855, 4073, 1069, 2725, 21234, 21128, 21208, 20854, 98115, 91945, 94404, 60130, 1007, 7111, 8052, 21133, 60510, 3045, 7410, 97045, 97206, 44221, 6478, 33181, 4101, 3246, 3101, 7010, 2878, 33132, 13601, 85338, 86401, 19406, 93727, 4072, 7628, 7071, 2816, 2910, 2886, 94601, 2149, 1840, 48234, 37814, 62223, 61008, 61701, 60440, 19026, 68025, 68801, 68847, 68502, 48509, 63105, 13021, 13905, 28001, 45406, 43015, 95240, 90805, 4901, 8360, 78666, 7026, 93405, 94403, 2358, 7201, 7032, 7666, 68104, 89701, 94583, 92704, 6010, 6108, 4330, 1462, 2370, 7047, 7480, 61801, 68701, 56301, 94024, 93635, 95032, 90266, 1923, 2457, 3054, 8332, 90069, 92683, 90604, 2019, 1915, 2341, 7506, 8601, 30318, 1845, 39180, 11704, 11795, 60543, 95020, 4106, 2062, 7042, 10154, 24281, 37130, 84404, 84057, 55416, 46041, 42104, 41011, 95336, 4038, 2148, 8753, 76067, 11226, 97756, 85204, 85737, 84062, 64064, 63043, 22025, 60061, 93101, 95051, 26501, 88201, 78155, 75090, 90008, 68046, 84604, 60067, 60068, 60087, 60185, 75081, 60187, 60090, 39701, 89015, 61554, 61604, 91767, 6415, 4210, 2032, 1801, 3301, 8021, 7031, 7054, 60091, 60517, 46016, 47401, 46032, 47201, 21136, 81001, 90045, 14224, 10605, 10701, 97301, 97477, 97224, 81007, 48195, 5701, 43952, 20852, 20602, 55106, 55378, 95062, 93454, 98119, 60544, 62301, 55379, 60089, 89115, 91730, 2116, 1540, 77373, 37211, 75203, 52501, 64133, 63301, 64506, 98387, 99207, 98408, 77478, 63116, 63376, 80229, 80030, 46307, 46312, 98105, 90041, 90405, 95404, 95070, 6040, 6460, 6850, 6702, 1520, 2152, 7067, 2840, 48841, 89031, 89041, 41042, 6614, 1803, 1420, 1089, 2190, 3053, 3079, 7003, 7016, 7039, 8232, 7901, 85345, 85023, 60423, 40324, 86301, 86314, 97062, 61201, 98661, 14215, 61107, 97068, 18103, 16602, 72143, 92054, 6033, 6484, 6437, 92691, 95351, 6512, 7001, 73064, 27502, 84067, 29915, 84106, 32168, 37830, 42420, 85254, 8046, 99362, 37167, 37174, 79605, 75002, 79109, 71854, 80033, 21222, 6511, 8002, 91745, 93117, 6114, 2210, 1450, 1060, 3839, 92544, 92345, 6405, 6810, 6492, 75503, 77590, 46514, 55126, 89502, 66202, 11575, 85635, 93422, 20746, 76017, 78745, 77520, 77705, 76021, 89431, 20024, 83616, 76201, 33430, 10039, 1887, 7652, 42240, 26003, 78521, 77803, 76028, 96003, 92374, 1463, 7008, 8857, 7050, 7501, 90278, 6776, 2127, 1605, 7002, 2914, 90049, 75482, 75067, 19901, 19711, 94061, 60610, 6105, 2108, 3842, 92503, 95677, 2339, 1841, 7079, 91761, 1718, 1701, 1040, 2151, 7650, 93030, 3431, 7601, 7450, 11720, 60459, 7712, 72022, 28806, 27217, 27511, 66762, 55125, 15221, 11722, 14225, 11725, 27514, 28205, 28027, 27707, 43017, 15102, 95695, 95991, 92399, 90004, 6473, 2109, 7030, 85351, 85374, 3060, 2864, 11727, 10573, 60409, 62901, 18018, 60441, 60174, 60193, 60076, 11729, 11746, 8816, 8817, 7646, 65721, 10282, 18040, 75220, 77566, 75146, 78041, 77573, 80004, 85281, 85705, 85364, 72714, 72015, 92592, 95661, 75116, 78852, 78539, 2118, 79907, 76039, 75234, 60188, 75056, 77381, 75701, 77901, 76706, 75165, 76086, 6611, 1821, 1056, 1075, 7801, 90640, 1876, 7086, 3801, 7407, 8226, 7070, 19805, 32701, 2040, 10280, 27237, 84660, 84663, 35756, 92646, 90301, 6050, 6790, 20016, 34142, 1108, 1776, 7843, 2920, 32712, 46806, 46404, 46530, 97420, 19013, 2112, 1906, 2451, 7052, 2861, 19140, 98801, 75028, 76106, 75007, 75104, 78613, 36830, 35020, 78641, 10009, 75057, 60110, 61821, 77530, 76031, 80013, 80303, 40422, 80020, 80104, 80906, 73521, 33433, 33437, 34210, 91941, 1930, 8401, 7097, 46142, 46324, 47591, 19134, 15241, 6320, 47274, 1749, 2153, 33180, 75601, 84074, 98902, 25314, 82604, 84084, 84120, 60623, 11554, 90058, 80022, 80219, 77840, 2478, 1453, 2744, 8302, 8028, 7940, 62234, 10170, 17201, 77546, 33511, 33063, 33055, 78596, 76308, 52761, 48101, 32707, 79424, 75901, 76063, 75098, 95207, 6408, 2703, 1832, 22304, 46342, 46203, 94025, 94086, 91360, 1027, 1867, 8863, 60653, 48104, 49017, 48708, 84003, 92553, 95037, 2113, 47130, 46901, 47905, 28031, 44112, 80112, 21146, 20901, 44035, 44117, 65807, 63130, 63135, 16509, 17112, 96150, 6795, 2638, 8901, 97801, 29687, 46226, 46952, 46410, 68601, 84010, 84015, 43081, 44145, 44691, 82001, 82716, 33134, 53110, 60016, 60516, 46360, 10045, 94044, 32137, 59901, 14901, 33065, 60478, 46544, 47302, 47150, 62205, 6488, 6710, 1545, 2072, 55305, 35211, 35601, 27288, 92262, 63385, 92253, 78363, 33314, 32114, 46060, 46368, 47374, 39530, 39056, 38701, 39503, 22003, 22204, 24060, 78501, 75150, 33441, 32720, 60123, 45385, 28314, 28307, 6607, 77571, 63044, 44094, 44511, 25705, 82070, 68901, 20601, 11598, 11010, 11520, 95823, 93905, 2445, 1748, 45324, 46322, 97601, 17602, 46375, 11542, 10528, 37743, 74012, 77095, 39401, 38637, 39212, 92404, 94070, 6901, 11714, 60098, 27203, 98072, 90503, 15131, 33403, 33445, 22015, 22901, 23320, 67114, 25801, 45014, 45840, 60611, 77301, 60007, 20190, 72701, 72903, 71901, 19057, 39301, 44118, 19464, 30062, 30907, 30265, 49534, 27529, 35473, 72401, 72209, 92037, 43026, 45424, 44240, 45429, 83843, 88310, 20012, 11550, 28052, 27534, 27405, 27834, 75034, 30305, 73034, 73703, 73505, 73110, 90036, 79701, 95376, 1607, 32725, 34698, 63141, 60126, 60201, 61032, 32780, 46614, 47802, 46383, 47906, 50010, 92672, 92105, 1945, 30188, 59102, 61401, 60137, 94110, 50021, 52722, 63119, 26101, 36330, 90032, 38654, 39208, 48187, 49236, 48126, 48127, 33178, 11801, 52601, 50613, 52402, 15146, 38671, 1810, 2334, 1469, 43230, 1886, 11741, 35630, 92008, 6443, 2110, 1826, 2035, 2169, 1550, 1570, 7080, 7090, 2808, 87105, 94306, 22193, 24541, 1519, 7036, 7055, 2806, 14217, 43130, 45801, 54915, 1028, 2186, 44052, 44903, 30269, 95969, 72113, 72450, 71603, 91104, 6030, 2351, 29611, 29651, 28601, 75043, 78626, 75051, 76051, 66801, 84020, 72756, 15228, 59715, 59750, 55066, 35160, 33916, 48066, 48073, 48601, 48080, 49455, 52732, 12047, 38801, 19090, 48227, 48823, 80122, 80501, 84117, 84037, 43302, 45040, 11758, 77070, 23666, 22801, 81301, 48034, 48310, 51503, 19401, 15235, 19143, 15239, 79072, 48021, 44017, 53005, 75401, 32174, 32765, 32905, 10550, 28352, 44646, 67901, 69101, 57006, 24501, 88220, 27260, 23111, 23602, 28079, 41075, 48336, 48505, 48135, 65203, 3051, 14853, 44236, 72801, 47362, 10956, 10801, 35904, 95928, 29464, 29577, 29406, 29730, 52803, 50315, 52001, 63129, 28540, 28081, 28110, 23518, 22124, 76117, 76543, 72116, 72762, 72301, 2324, 63031, 64118, 63042, 64055, 88101, 33407, 53094, 20151, 33311, 40214, 40356, 48180, 48098, 48093, 48329, 48185, 49509, 55124, 16146, 2532, 2026, 2018, 7011, 42301, 91911, 1721, 1013, 1610, 2852, 55434, 65109, 28115, 28560, 14701, 11756, 11757, 55420, 55429, 55445, 55337, 50501, 52240, 30337, 20814, 20715, 21228, 77015, 44256, 34787, 87401, 88240, 19087, 95610, 91711, 2048, 33801, 19120, 34639, 11561, 19601, 18504, 16801, 18705, 42003, 27604, 27801, 30161, 30076, 64804, 64130, 63122, 39560, 29662, 78550, 77036, 14304, 14120, 15601, 54703, 53713, 53132, 29301, 29483, 55433, 55016, 2456, 7017, 7040, 34683, 32404, 10011, 57201, 53150, 33971, 6374, 92236, 1440, 2420, 52302, 54302, 53220, 53545, 20735, 20740, 60139, 60025, 40258, 40475, 71301, 21044, 21114, 21501, 21040, 82901, 33917, 34982, 32259, 77340, 33024, 55803, 55122, 55343, 60031, 49505, 49423, 10024, 88001, 87124, 11572, 30328, 31401, 60103, 52241, 92804, 94509, 60699, 2718, 7960, 60035, 60194, 60432, 6074, 23805, 23701, 23223, 76053, 75061, 76248, 44107, 76541, 73160, 20004, 32935, 32953, 33142, 1938, 55410, 53142, 35209, 35244, 35810, 36608, 55014, 55432, 10035, 71111, 49783, 28144, 27360, 27587, 60901, 30080, 30458, 70364, 70065, 70506, 33881, 30084, 72023, 94521, 92627, 6457, 1913, 7205, 92024, 60102, 46321, 77489, 94015, 2111, 2138, 7631, 7740, 2863, 2908, 75109, 36203, 70601, 92307, 2492, 32789, 32708, 10580, 24017, 22153, 23434, 23464, 90068, 43213, 17403, 54601, 53711, 54220, 44060, 10562, 11803, 55076, 98144, 94526, 95616, 10165, 36116, 36801, 36869, 36067, 35401, 48141, 49201, 53051, 53209, 31707, 30605, 6450, 7621, 8871, 2184, 2777, 49002, 57401, 10004, 57103, 38134, 37027, 28403, 74403, 73071, 73120, 74055, 22601, 31088, 83704, 33023, 83701, 74601, 93309, 15234, 67037, 30904, 31907, 30721, 2471, 8865, 7076, 46350, 57701, 37620, 26301, 98002, 22980, 72956, 33952, 35216, 85323, 86442, 85704, 83501, 32503, 32808, 33566, 60131, 21042, 21221, 49001, 49508, 48911, 60438, 30135, 37421, 37042, 98006, 98226, 98011, 98310, 94568, 6241, 1757, 83605, 48146, 48154, 85224, 10115, 29801, 70072, 33317, 34759, 48205, 6708, 2050, 2891, 30338, 30344, 20877, 27893, 58501, 97071, 74801, 74074, 70003, 48071, 48640, 50158, 50401, 51106, 90022, 1901, 1950, 7083, 37311, 45042, 43055, 71203, 92020, 92243, 33161, 55044, 56001, 74133, 97321, 33160, 21061, 21740, 38017, 38401, 79762, 98146, 98198, 98026, 32601, 62040, 67601, 68128, 75460, 77506, 98208, 98023, 98027, 33012, 44070, 98107, 34287, 28206, 44039, 44133, 44134, 43068, 55369, 30809, 30501, 44125, 58103, 58201, 58701, 50322, 50701, 50265, 33021, 60603, 20707, 29624, 29418, 95630, 2215, 2719, 2345, 2180, 48858, 14043, 98042, 43123, 55119, 55407, 54956, 21220, 43050, 33030, 32216, 53151, 53154, 54901, 58601, 44870, 45503, 55345, 67801, 67846, 53402, 53081, 49442, 48375, 48237, 48342, 48060, 83814, 83402, 56560, 14609, 13440, 2145, 7065, 10583, 99336, 98031, 97007, 97005, 97701, 60148, 58554, 97330, 67501, 66104, 66044, 66048, 94704, 42071, 1742, 2740, 1095, 98034, 98503, 44312, 44515, 55128, 72712, 72032, 90061, 44224, 44136, 43615, 19112, 34239, 16148, 33334, 12306, 45011, 11967, 34761, 83642, 83686, 77041, 83201, 83854, 70560, 70117, 32839, 10013, 60160, 61265, 60056, 71109, 70458, 60060, 60540, 61761, 77581, 78660, 78577, 83440, 92277, 34769, 33710, 32771, 48183, 75023, 33068, 32004, 32127, 34952, 6903, 33458, 55060, 55441, 33569, 54481, 53590, 34609, 94109, 60062, 92025, 95501, 83301, 90210, 37064, 37066, 31313, 33322, 32303, 38138, 37075, 54880, 53186, 54401, 94513, 91505, 7701, 21403, 20906, 10112, 33319, 98632, 98037, 98270, 49221, 45431, 94533, 2364, 7060, 36701, 11703, 98273, 98502, 98444, 29203, 29501, 33156, 34741, 20170, 95746, 7094, 33404, 33411, 33461, 18201, 1001, 1301, 1760, 2563, 1890, 8873, 38301, 37604, 48239, 21113, 33614, 97060, 20006, 48307, 99301, 99163, 92231, 93010, 53213, 53214, 53095, 21215, 45373, 43221, 44483, 20832, 21117, 30144, 30240, 31204, 44512, 43402, 6820, 60014, 61832, 62521, 26554]

#### 14. Which customer segement is more profitalble find it out.

In [42]:
df_cust = df_order.groupby('Customer Segment')['Profit'].sum().sort_values(ascending = False).reset_index()

df_cust.rename(columns={'Profit' : 'Total_profit'}, inplace=True)

df_cust

  Customer Segment   Total_profit
0        Corporate  505538.627783
1   Small Business  316474.592482
2      Home Office  283869.553814
3         Consumer  206559.625348

In [43]:
# So most profitable customer segment is:

filt = (df_cust.Total_profit == df_cust.Total_profit.max())

df_cust.loc[filt]

  Customer Segment   Total_profit
0        Corporate  505538.627783

#### 15. Try to find out the 10th most loss making product catagory.

In [45]:
df_loss = df_order.groupby('Product Sub-Category')['Profit'].sum().sort_values().reset_index()

df_loss.index = df_loss.index + 1

df_loss.rename(columns={'Profit' : 'Total_profit'}, inplace=True)

df_loss

              Product Sub-Category   Total_profit
1                           Tables  -72495.061875
2                        Bookcases   -7708.748564
3                     Rubber Bands   -2841.722459
4    Scissors, Rulers and Trimmers   -1936.849120
5              Pens & Art Supplies    1195.902840
6           Storage & Organization    8078.804727
7                           Labels   17775.320505
8                            Paper   35361.621738
9                        Envelopes   46133.223840
10            Computer Peripherals   87917.842513
11              Office Furnishings   92209.225867
12                      Appliances  121651.391380
13                 Copiers and Fax  129156.684030
14              Chairs & Chairmats  165348.882760
15                 Office Machines  168072.833340
16  Binders and Binder Accessories  226572.523042
17    Telephones and Communication  297950.524866

In [47]:
print(f"So the 10th most loss making product is {df_loss.loc[10, 'Product Sub-Category']}.")

So the 10th most loss making product is Computer Peripherals.

#### 16. Try to find out 10 top product with highest margins.

In [53]:
df_mgn = df1.groupby('Product Sub-Category')['Product Base Margin'].sum().sort_values(ascending=False).reset_index()

df_mgn.index = df_mgn.index + 1

df_mgn.rename(columns={'Product Base Margin' : 'Total_margin'}, inplace=True)

print("\nSo the top 10 products with highest margins are:")

df_mgn.head(10)

So the top 10 products with highest margins are:

              Product Sub-Category  Total_margin
1                            Paper          6.10
2              Pens & Art Supplies          5.94
3             Computer Peripherals          5.55
4     Telephones and Communication          5.34
5   Binders and Binder Accessories          4.52
6               Office Furnishings          3.82
7           Storage & Organization          3.71
8                           Tables          3.21
9               Chairs & Chairmats          2.91
10                       Envelopes          1.89